.checkbox {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox > input,
.checkbox > label {
    margin: 0;
    padding: 0;
}

.checkbox > input {
    position: relative;

    -webkit-appearance: none;
    -webkit-transition: 0.10s;

    height: var(--input-size);
    width: var(--input-size);

    cursor: pointer;

    background-color: var(--input-bg-color);

    border-radius: 0.25rem;
    border: 0.15rem solid var(--input-border-color);
}

.checkbox:hover > input { 
    border-color: var(--input-border-color-hover);
}

.checkbox > input:checked {
    background-color: var(--input-border-color);
}

.checkbox > .checkmark {
    position: absolute;
    display: none;

    inset: 0;
    width: var(--input-size);
    height: var(--input-size);
    fill: var(--input-bg-color);

    pointer-events: none;
}

.checkbox > input:checked ~ .checkmark {
    display: block;
}

