:root {
  --font-title: "Stack Sans Text", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-header: "Stack Sans Notch", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-body: "Stack Sans Text", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary: hsl(233 22% 23%);
  --secondary: hsl(126 61% 80%);
  --accent-1: hsl(268 17% 66%);
  --accent-2: hsl(176 94% 28%);
  --accent-3: hsl(198 100% 71%);
  --success: hsl(86 93% 24%);
  --danger: hsl(360 82% 45%);
  --primary-000: hsl(from var(--primary) h s calc(l * 0.1));
  --primary-050: hsl(from var(--primary) h s calc(l * 0.2));
  --primary-100: hsl(from var(--primary) h s calc(l * 0.4));
  --primary-300: hsl(from var(--primary) h s calc(l * 0.8));
  --primary-500: hsl(from var(--primary) h s l);
  --primary-600: hsl(from var(--primary) h s calc(l * 1.875));
  --primary-700: hsl(from var(--primary) h s calc(l * 2.75));
  --primary-800: hsl(from var(--primary) h s calc(l * 3.625));
  --primary-900: hsl(from var(--primary) h s calc(l * 4.5));
  --primary-text: light-dark(var(--grey-100), var(--grey-900));
  --secondary-000: hsl(from var(--secondary) h calc(s * 0.4) calc(l * 0.4));
  --secondary-050: hsl(from var(--secondary) h calc(s * 0.5) calc(l * 0.55));
  --secondary-100: hsl(from var(--secondary) h calc(s * 0.6) calc(l * 0.7));
  --secondary-300: hsl(from var(--secondary) h calc(s * 0.7) calc(l * 0.85));
  --secondary-500: hsl(from var(--secondary) h s l);
  --secondary-600: hsl(from var(--secondary) h s calc(l * 1.04));
  --secondary-700: hsl(from var(--secondary) h s calc(l * 1.08));
  --secondary-800: hsl(from var(--secondary) h s calc(l * 1.12));
  --secondary-900: hsl(from var(--secondary) h s calc(l * 1.16));
  --secondary-text: var(--grey-100);
  --accent-1-000: hsl(from var(--accent-1) h s calc(l * 0.2));
  --accent-1-050: hsl(from var(--accent-1) h s calc(l * 0.4));
  --accent-1-100: hsl(from var(--accent-1) h s calc(l * 0.6));
  --accent-1-300: hsl(from var(--accent-1) h s calc(l * 0.8));
  --accent-1-500: hsl(from var(--accent-1) h s l);
  --accent-1-600: hsl(from var(--accent-1) h s calc(l * 1.075));
  --accent-1-700: hsl(from var(--accent-1) h s calc(l * 1.15));
  --accent-1-800: hsl(from var(--accent-1) h s calc(l * 1.225));
  --accent-1-900: hsl(from var(--accent-1) h s calc(l * 1.3));
  --accent-1-text: var(--grey-100);
  --accent-2-000: hsl(from var(--accent-2) h s calc(l * 0.1));
  --accent-2-050: hsl(from var(--accent-2) h s calc(l * 0.2));
  --accent-2-100: hsl(from var(--accent-2) h s calc(l * 0.4));
  --accent-2-300: hsl(from var(--accent-2) h s calc(l * 0.8));
  --accent-2-500: hsl(from var(--accent-2) h s l);
  --accent-2-600: hsl(from var(--accent-2) h calc(s * 0.8) calc(l * 1.35));
  --accent-2-700: hsl(from var(--accent-2) h calc(s * 0.7) calc(l * 1.7));
  --accent-2-800: hsl(from var(--accent-2) h calc(s * 0.6) calc(l * 2.05));
  --accent-2-900: hsl(from var(--accent-2) h calc(s * 0.5) calc(l * 2.4));
  --accent-2-text: var(--grey-100);
  --accent-3-000: hsl(from var(--accent-3) h calc(s * 0.5) calc(l * 0.1));
  --accent-3-050: hsl(from var(--accent-3) h calc(s * 0.6) calc(l * 0.2));
  --accent-3-100: hsl(from var(--accent-3) h calc(s * 0.7) calc(l * 0.4));
  --accent-3-300: hsl(from var(--accent-3) h calc(s * 0.8) calc(l * 0.8));
  --accent-3-500: hsl(from var(--accent-3) h s l);
  --accent-3-600: hsl(from var(--accent-3) h s calc(l * 1.0625));
  --accent-3-700: hsl(from var(--accent-3) h s calc(l * 1.125));
  --accent-3-800: hsl(from var(--accent-3) h s calc(l * 1.1875));
  --accent-3-900: hsl(from var(--accent-3) h s calc(l * 1.25));
  --accent-3-text: var(--grey-100);
  --success-100: hsl(from var(--success) h s calc(l * 0.2));
  --success-300: hsl(from var(--success) h s calc(l * 0.6));
  --success-500: hsl(from var(--success) h s l);
  --success-600: hsl(from var(--success) h calc(s * 1.0) calc(l * 1.2));
  --success-700: hsl(from var(--success) h calc(s * 0.9) calc(l * 1.4));
  --success-800: hsl(from var(--success) h calc(s * 0.85) calc(l * 1.6));
  --success-900: hsl(from var(--success) h calc(s * 0.8) calc(l * 1.8));
  --danger-h: 360;
  --danger-s: 82%;
  --danger-l: 45%;
  --danger-100: hsl(from var(--danger) h s calc(l * 0.2));
  --danger-300: hsl(from var(--danger) h s calc(l * 0.6));
  --danger-500: hsl(from var(--danger) h s l);
  --danger-600: hsl(from var(--danger) h s calc(l * 1.1));
  --danger-700: hsl(from var(--danger) h s calc(l * 1.2));
  --danger-800: hsl(from var(--danger) h s calc(l * 1.3));
  --danger-900: hsl(from var(--danger) h s calc(l * 1.4));
  --grey-100: hsl(233 8% 10%);
  --grey-300: hsl(233 8% 30%);
  --grey-500: hsl(233 8% 50%);
  --grey-600: hsl(233 8% 60%);
  --grey-700: hsl(233 8% 70%);
  --grey-800: hsl(233 8% 80%);
  --grey-900: hsl(233 8% 90%);
  --fs-h-0: clamp(1.5rem, 2vw + 1rem, 3.5rem);
  --fs-h-1: clamp(2rem, 8vw + 1rem, 10rem);
  --fs-h-2: clamp(2rem, 5vw + 1rem, 8rem);
  --fs-h-3: clamp(2rem, 3vw + 1rem, 5rem);
  --fs-h-4: clamp(1.5rem, 2vw + 1rem, 3.5rem);
  --fs-h-5: clamp(1rem, 1vw + 1rem, 2rem);
  --fs-p-1: clamp(0.75rem, 0.3vw + 0.8rem, 1.5rem);
  --fs-p-2: clamp(0.8rem, 0.5vw + 0.75rem, 2rem);
  --fs-p-3: clamp(1rem, 0.9vw + 0.5rem, 2rem);
  --fs-st-1: clamp(0.5rem, 0.25vw + 0.65rem, 1rem);
  --fs-form: clamp(0.7rem, 0.3vw + 0.6rem, 1.25rem);
  --box-shadow-primary: 0.1rem 0.1rem 0.15rem hsl(from var(--grey-100) h s l / 0.35),
                        0.1rem 0.1rem 0.5rem hsl(from var(--grey-100) h s l / 0.15);
  --box-shadow-card: 0.15rem 0.15rem 0.15rem hsl(from var(--grey-100) h s l / 0.25),
                     0.15rem 0.15rem 0.5rem hsl(from var(--grey-100) h s l / 0.15);
  --screen-size-sm: $screen-size-sm;
  --screen-size-md: $screen-size-md;
  --screen-size-lg: $screen-size-lg;
  --container-bg-color: light-dark(var(--primary-900), var(--primary-500));
  --container-border-color: light-dark(var(--primary-900), var(--primary-600));
  --card-bg-color: light-dark(var(--primary-900), var(--primary-500));
  --card-bg-color-sub: light-dark(var(--primary-900), var(--primary-500));
  --card-border-color: light-dark(var(--primary-900), var(--primary-600));
  --card-text-color: var(--primary-text);
  --card-highlight-color: light-dark(var(--accent-1-300), var(--accent-1-700));
  --input-size: clamp(0.75rem, 0.3vw + 1rem, 2rem);
  --input-padding: 0.5rem;
  --input-bg-color: var(--grey-900);
  --input-color: var(--grey-100);
  --input-border-color: var(--accent-1-500);
  --input-border-color-hover: var(--accent-1-700);
  --input-valid-color: var(--success-500);
  --input-valid-color-hover: var(--success-700);
  --input-invalid-color: var(--danger-500);
  --input-invalid-color-hover: var(--danger-700);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: light;
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
    color-scheme: dark;
  }
}

@keyframes background-drift {
  0% {
    background-position: 0rem 0rem;
  }
  100% {
    background-position: -100rem -50rem;
  }
}
@keyframes background-color-shift {
  0% {
    --background-dot-color: var(--accent-1-300);
    /*background-image: radial-gradient(var(--accent-1-300) 4%, transparent 4% );*/
  }
  100% {
    /*background-image: radial-gradient(var(--accent-2-900) 4%, transparent 4% );*/
    --background-dot-color: var(--accent-2-900);
  }
}
:root {
  --font-title: "Stack Sans Text", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-header: "Stack Sans Notch", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-body: "Stack Sans Text", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary: hsl(233 22% 23%);
  --secondary: hsl(126 61% 80%);
  --accent-1: hsl(268 17% 66%);
  --accent-2: hsl(176 94% 28%);
  --accent-3: hsl(198 100% 71%);
  --success: hsl(86 93% 24%);
  --danger: hsl(360 82% 45%);
  --primary-000: hsl(from var(--primary) h s calc(l * 0.1));
  --primary-050: hsl(from var(--primary) h s calc(l * 0.2));
  --primary-100: hsl(from var(--primary) h s calc(l * 0.4));
  --primary-300: hsl(from var(--primary) h s calc(l * 0.8));
  --primary-500: hsl(from var(--primary) h s l);
  --primary-600: hsl(from var(--primary) h s calc(l * 1.875));
  --primary-700: hsl(from var(--primary) h s calc(l * 2.75));
  --primary-800: hsl(from var(--primary) h s calc(l * 3.625));
  --primary-900: hsl(from var(--primary) h s calc(l * 4.5));
  --primary-text: light-dark(var(--grey-100), var(--grey-900));
  --secondary-000: hsl(from var(--secondary) h calc(s * 0.4) calc(l * 0.4));
  --secondary-050: hsl(from var(--secondary) h calc(s * 0.5) calc(l * 0.55));
  --secondary-100: hsl(from var(--secondary) h calc(s * 0.6) calc(l * 0.7));
  --secondary-300: hsl(from var(--secondary) h calc(s * 0.7) calc(l * 0.85));
  --secondary-500: hsl(from var(--secondary) h s l);
  --secondary-600: hsl(from var(--secondary) h s calc(l * 1.04));
  --secondary-700: hsl(from var(--secondary) h s calc(l * 1.08));
  --secondary-800: hsl(from var(--secondary) h s calc(l * 1.12));
  --secondary-900: hsl(from var(--secondary) h s calc(l * 1.16));
  --secondary-text: var(--grey-100);
  --accent-1-000: hsl(from var(--accent-1) h s calc(l * 0.2));
  --accent-1-050: hsl(from var(--accent-1) h s calc(l * 0.4));
  --accent-1-100: hsl(from var(--accent-1) h s calc(l * 0.6));
  --accent-1-300: hsl(from var(--accent-1) h s calc(l * 0.8));
  --accent-1-500: hsl(from var(--accent-1) h s l);
  --accent-1-600: hsl(from var(--accent-1) h s calc(l * 1.075));
  --accent-1-700: hsl(from var(--accent-1) h s calc(l * 1.15));
  --accent-1-800: hsl(from var(--accent-1) h s calc(l * 1.225));
  --accent-1-900: hsl(from var(--accent-1) h s calc(l * 1.3));
  --accent-1-text: var(--grey-100);
  --accent-2-000: hsl(from var(--accent-2) h s calc(l * 0.1));
  --accent-2-050: hsl(from var(--accent-2) h s calc(l * 0.2));
  --accent-2-100: hsl(from var(--accent-2) h s calc(l * 0.4));
  --accent-2-300: hsl(from var(--accent-2) h s calc(l * 0.8));
  --accent-2-500: hsl(from var(--accent-2) h s l);
  --accent-2-600: hsl(from var(--accent-2) h calc(s * 0.8) calc(l * 1.35));
  --accent-2-700: hsl(from var(--accent-2) h calc(s * 0.7) calc(l * 1.7));
  --accent-2-800: hsl(from var(--accent-2) h calc(s * 0.6) calc(l * 2.05));
  --accent-2-900: hsl(from var(--accent-2) h calc(s * 0.5) calc(l * 2.4));
  --accent-2-text: var(--grey-100);
  --accent-3-000: hsl(from var(--accent-3) h calc(s * 0.5) calc(l * 0.1));
  --accent-3-050: hsl(from var(--accent-3) h calc(s * 0.6) calc(l * 0.2));
  --accent-3-100: hsl(from var(--accent-3) h calc(s * 0.7) calc(l * 0.4));
  --accent-3-300: hsl(from var(--accent-3) h calc(s * 0.8) calc(l * 0.8));
  --accent-3-500: hsl(from var(--accent-3) h s l);
  --accent-3-600: hsl(from var(--accent-3) h s calc(l * 1.0625));
  --accent-3-700: hsl(from var(--accent-3) h s calc(l * 1.125));
  --accent-3-800: hsl(from var(--accent-3) h s calc(l * 1.1875));
  --accent-3-900: hsl(from var(--accent-3) h s calc(l * 1.25));
  --accent-3-text: var(--grey-100);
  --success-100: hsl(from var(--success) h s calc(l * 0.2));
  --success-300: hsl(from var(--success) h s calc(l * 0.6));
  --success-500: hsl(from var(--success) h s l);
  --success-600: hsl(from var(--success) h calc(s * 1.0) calc(l * 1.2));
  --success-700: hsl(from var(--success) h calc(s * 0.9) calc(l * 1.4));
  --success-800: hsl(from var(--success) h calc(s * 0.85) calc(l * 1.6));
  --success-900: hsl(from var(--success) h calc(s * 0.8) calc(l * 1.8));
  --danger-h: 360;
  --danger-s: 82%;
  --danger-l: 45%;
  --danger-100: hsl(from var(--danger) h s calc(l * 0.2));
  --danger-300: hsl(from var(--danger) h s calc(l * 0.6));
  --danger-500: hsl(from var(--danger) h s l);
  --danger-600: hsl(from var(--danger) h s calc(l * 1.1));
  --danger-700: hsl(from var(--danger) h s calc(l * 1.2));
  --danger-800: hsl(from var(--danger) h s calc(l * 1.3));
  --danger-900: hsl(from var(--danger) h s calc(l * 1.4));
  --grey-100: hsl(233 8% 10%);
  --grey-300: hsl(233 8% 30%);
  --grey-500: hsl(233 8% 50%);
  --grey-600: hsl(233 8% 60%);
  --grey-700: hsl(233 8% 70%);
  --grey-800: hsl(233 8% 80%);
  --grey-900: hsl(233 8% 90%);
  --fs-h-0: clamp(1.5rem, 2vw + 1rem, 3.5rem);
  --fs-h-1: clamp(2rem, 8vw + 1rem, 10rem);
  --fs-h-2: clamp(2rem, 5vw + 1rem, 8rem);
  --fs-h-3: clamp(2rem, 3vw + 1rem, 5rem);
  --fs-h-4: clamp(1.5rem, 2vw + 1rem, 3.5rem);
  --fs-h-5: clamp(1rem, 1vw + 1rem, 2rem);
  --fs-p-1: clamp(0.75rem, 0.3vw + 0.8rem, 1.5rem);
  --fs-p-2: clamp(0.8rem, 0.5vw + 0.75rem, 2rem);
  --fs-p-3: clamp(1rem, 0.9vw + 0.5rem, 2rem);
  --fs-st-1: clamp(0.5rem, 0.25vw + 0.65rem, 1rem);
  --fs-form: clamp(0.7rem, 0.3vw + 0.6rem, 1.25rem);
  --box-shadow-primary: 0.1rem 0.1rem 0.15rem hsl(from var(--grey-100) h s l / 0.35),
                        0.1rem 0.1rem 0.5rem hsl(from var(--grey-100) h s l / 0.15);
  --box-shadow-card: 0.15rem 0.15rem 0.15rem hsl(from var(--grey-100) h s l / 0.25),
                     0.15rem 0.15rem 0.5rem hsl(from var(--grey-100) h s l / 0.15);
  --screen-size-sm: $screen-size-sm;
  --screen-size-md: $screen-size-md;
  --screen-size-lg: $screen-size-lg;
  --container-bg-color: light-dark(var(--primary-900), var(--primary-500));
  --container-border-color: light-dark(var(--primary-900), var(--primary-600));
  --card-bg-color: light-dark(var(--primary-900), var(--primary-500));
  --card-bg-color-sub: light-dark(var(--primary-900), var(--primary-500));
  --card-border-color: light-dark(var(--primary-900), var(--primary-600));
  --card-text-color: var(--primary-text);
  --card-highlight-color: light-dark(var(--accent-1-300), var(--accent-1-700));
  --input-size: clamp(0.75rem, 0.3vw + 1rem, 2rem);
  --input-padding: 0.5rem;
  --input-bg-color: var(--grey-900);
  --input-color: var(--grey-100);
  --input-border-color: var(--accent-1-500);
  --input-border-color-hover: var(--accent-1-700);
  --input-valid-color: var(--success-500);
  --input-valid-color-hover: var(--success-700);
  --input-invalid-color: var(--danger-500);
  --input-invalid-color-hover: var(--danger-700);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: light;
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
    color-scheme: dark;
  }
}

@keyframes background-drift {
  0% {
    background-position: 0rem 0rem;
  }
  100% {
    background-position: -100rem -50rem;
  }
}
@keyframes background-color-shift {
  0% {
    --background-dot-color: var(--accent-1-300);
    /*background-image: radial-gradient(var(--accent-1-300) 4%, transparent 4% );*/
  }
  100% {
    /*background-image: radial-gradient(var(--accent-2-900) 4%, transparent 4% );*/
    --background-dot-color: var(--accent-2-900);
  }
}
.floating-circle {
  --layer-radius-sm: clamp(2rem, 4vw + 2rem, 12rem);
  --layer-radius-md: clamp(4rem, 8vw + 6rem, 24rem);
  --layer-radius-lg: clamp(8rem, 14vw + 8rem, 36rem);
  --layer-radius-sm: clamp(5rem, 16vw, 10rem);
  --layer-radius-md: clamp(10rem, 32vw, 20rem);
  --layer-radius-lg: clamp(15rem, 48vw, 30rem);
  --circle-size-sm: calc(var(--layer-radius-sm) * 2);
  --circle-size-md: calc(var(--layer-radius-md) * 2);
  --circle-size-lg: calc(var(--layer-radius-lg) * 2);
  --layer-radius: var(--layer-radius-sm);
  --layer-animation-speed: 50s;
  --circle-padding: clamp(2rem, 4vw, 6rem);
  --circle-size: var(--circle-size-sm);
  --orbit-thickness: 0.5rem;
  --orbit-color: var(--primary-900);
  position: relative;
  width: calc(var(--circle-size) + var(--circle-padding) * 2);
  aspect-ratio: 1/1;
  margin-inline: auto;
}
.floating-circle[data-size=sm] {
  --circle-size: var(--circle-size-sm);
}
.floating-circle[data-size=md] {
  --circle-size: var(--circle-size-md);
}
@media screen and (max-width: 786px) {
  .floating-circle[data-size=md] {
    --circle-size: var(--circle-size-sm);
  }
}
.floating-circle[data-size=lg] {
  --circle-size: var(--circle-size-lg);
}
@media screen and (max-width: 1400px) {
  .floating-circle[data-size=lg] {
    --circle-size: var(--circle-size-md);
  }
}
.floating-circle ::deep > .floating-circle-layer {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 0;
  pointer-events: none;
  display: grid;
  place-items: center;
  overflow: visible;
}
.floating-circle ::deep > .floating-circle-layer[data-size=sm] {
  --layer-radius: var(--layer-radius-sm);
}
.floating-circle ::deep > .floating-circle-layer[data-size=md] {
  --layer-radius: var(--layer-radius-md);
}
@media screen and (max-width: 786px) {
  .floating-circle ::deep > .floating-circle-layer[data-size=md] {
    display: none;
  }
}
.floating-circle ::deep > .floating-circle-layer[data-size=lg] {
  --layer-radius: var(--layer-radius-lg);
}
@media screen and (max-width: 1400px) {
  .floating-circle ::deep > .floating-circle-layer[data-size=lg] {
    display: none;
  }
}
.floating-circle ::deep > .floating-circle-layer[data-animation=SpinClockwise] {
  animation: rotate-clockwise var(--layer-animation-speed) linear infinite;
}
.floating-circle ::deep > .floating-circle-layer[data-animation=SpinClockwise] > * {
  animation: rotate-counterclockwise var(--layer-animation-speed) linear infinite;
}
.floating-circle ::deep > .floating-circle-layer[data-animation=SpinClockwise][data-orbit=true]::before {
  animation: rotate-counterclockwise calc(var(--layer-animation-speed) * 0.75) linear infinite;
}
.floating-circle ::deep > .floating-circle-layer[data-animation=SpinCounterclockwise] {
  animation: rotate-counterclockwise var(--layer-animation-speed) linear infinite;
}
.floating-circle ::deep > .floating-circle-layer[data-animation=SpinCounterclockwise] > * {
  animation: rotate-clockwise var(--layer-animation-speed) linear infinite;
}
.floating-circle ::deep > .floating-circle-layer[data-animation=SpinCounterclockwise][data-orbit=true]::before {
  animation: rotate-clockwise calc(var(--layer-animation-speed) * 0.75) linear infinite;
}
.floating-circle ::deep > .floating-circle-layer[data-orbit=true]::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: calc(var(--layer-radius) * 2);
  height: calc(var(--layer-radius) * 2);
  border: var(--orbit-thickness) var(--orbit-color) dotted;
  border-radius: 50%;
}
.floating-circle ::deep > .floating-circle-layer > * {
  position: absolute;
  content: "";
  pointer-events: auto;
  z-index: 1;
}
.floating-circle ::deep > .floating-circle-layer[data-count="1"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="2"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="2"] :nth-child(2) {
  transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="3"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="3"] :nth-child(2) {
  transform: translate(calc(0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="3"] :nth-child(3) {
  transform: translate(calc(0.5 * var(--layer-radius)), calc(-0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.5 * var(--layer-radius)), calc(-0.8660254038 * var(--layer-radius)));
  transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(-0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(-0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="4"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="4"] :nth-child(2) {
  transform: translate(calc(0 * var(--layer-radius)), calc(1 * var(--layer-radius)));
  -webkit-transform: translate(calc(0 * var(--layer-radius)), calc(1 * var(--layer-radius)));
  transform-origin: calc(0 * var(--layer-radius) + 50%) calc(1 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0 * var(--layer-radius) + 50%) calc(1 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="4"] :nth-child(3) {
  transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="4"] :nth-child(4) {
  transform: translate(calc(0 * var(--layer-radius)), calc(-0.9999999999 * var(--layer-radius)));
  -webkit-transform: translate(calc(0 * var(--layer-radius)), calc(-0.9999999999 * var(--layer-radius)));
  transform-origin: calc(0 * var(--layer-radius) + 50%) calc(-0.9999999999 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0 * var(--layer-radius) + 50%) calc(-0.9999999999 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="5"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="5"] :nth-child(2) {
  transform: translate(calc(-0.3090169944 * var(--layer-radius)), calc(0.9510565163 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.3090169944 * var(--layer-radius)), calc(0.9510565163 * var(--layer-radius)));
  transform-origin: calc(-0.3090169944 * var(--layer-radius) + 50%) calc(0.9510565163 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.3090169944 * var(--layer-radius) + 50%) calc(0.9510565163 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="5"] :nth-child(3) {
  transform: translate(calc(0.8090169944 * var(--layer-radius)), calc(0.5877852523 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.8090169944 * var(--layer-radius)), calc(0.5877852523 * var(--layer-radius)));
  transform-origin: calc(0.8090169944 * var(--layer-radius) + 50%) calc(0.5877852523 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.8090169944 * var(--layer-radius) + 50%) calc(0.5877852523 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="5"] :nth-child(4) {
  transform: translate(calc(0.8090169944 * var(--layer-radius)), calc(-0.5877852523 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.8090169944 * var(--layer-radius)), calc(-0.5877852523 * var(--layer-radius)));
  transform-origin: calc(0.8090169944 * var(--layer-radius) + 50%) calc(-0.5877852523 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.8090169944 * var(--layer-radius) + 50%) calc(-0.5877852523 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="5"] :nth-child(5) {
  transform: translate(calc(-0.3090169943 * var(--layer-radius)), calc(-0.9510565157 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.3090169943 * var(--layer-radius)), calc(-0.9510565157 * var(--layer-radius)));
  transform-origin: calc(-0.3090169943 * var(--layer-radius) + 50%) calc(-0.9510565157 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.3090169943 * var(--layer-radius) + 50%) calc(-0.9510565157 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="6"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="6"] :nth-child(2) {
  transform: translate(calc(-0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  transform-origin: calc(-0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="6"] :nth-child(3) {
  transform: translate(calc(0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="6"] :nth-child(4) {
  transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="6"] :nth-child(5) {
  transform: translate(calc(0.5 * var(--layer-radius)), calc(-0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.5 * var(--layer-radius)), calc(-0.8660254038 * var(--layer-radius)));
  transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(-0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(-0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="6"] :nth-child(6) {
  transform: translate(calc(-0.4999999996 * var(--layer-radius)), calc(-0.8660254016 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.4999999996 * var(--layer-radius)), calc(-0.8660254016 * var(--layer-radius)));
  transform-origin: calc(-0.4999999996 * var(--layer-radius) + 50%) calc(-0.8660254016 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.4999999996 * var(--layer-radius) + 50%) calc(-0.8660254016 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="7"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="7"] :nth-child(2) {
  transform: translate(calc(-0.6234898019 * var(--layer-radius)), calc(0.7818314825 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.6234898019 * var(--layer-radius)), calc(0.7818314825 * var(--layer-radius)));
  transform-origin: calc(-0.6234898019 * var(--layer-radius) + 50%) calc(0.7818314825 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.6234898019 * var(--layer-radius) + 50%) calc(0.7818314825 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="7"] :nth-child(3) {
  transform: translate(calc(0.222520934 * var(--layer-radius)), calc(0.9749279122 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.222520934 * var(--layer-radius)), calc(0.9749279122 * var(--layer-radius)));
  transform-origin: calc(0.222520934 * var(--layer-radius) + 50%) calc(0.9749279122 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.222520934 * var(--layer-radius) + 50%) calc(0.9749279122 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="7"] :nth-child(4) {
  transform: translate(calc(0.9009688679 * var(--layer-radius)), calc(0.4338837391 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.9009688679 * var(--layer-radius)), calc(0.4338837391 * var(--layer-radius)));
  transform-origin: calc(0.9009688679 * var(--layer-radius) + 50%) calc(0.4338837391 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.9009688679 * var(--layer-radius) + 50%) calc(0.4338837391 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="7"] :nth-child(5) {
  transform: translate(calc(0.9009688679 * var(--layer-radius)), calc(-0.4338837391 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.9009688679 * var(--layer-radius)), calc(-0.4338837391 * var(--layer-radius)));
  transform-origin: calc(0.9009688679 * var(--layer-radius) + 50%) calc(-0.4338837391 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.9009688679 * var(--layer-radius) + 50%) calc(-0.4338837391 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="7"] :nth-child(6) {
  transform: translate(calc(0.222520934 * var(--layer-radius)), calc(-0.9749279122 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.222520934 * var(--layer-radius)), calc(-0.9749279122 * var(--layer-radius)));
  transform-origin: calc(0.222520934 * var(--layer-radius) + 50%) calc(-0.9749279122 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.222520934 * var(--layer-radius) + 50%) calc(-0.9749279122 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="7"] :nth-child(7) {
  transform: translate(calc(-0.623489801 * var(--layer-radius)), calc(-0.7818314771 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.623489801 * var(--layer-radius)), calc(-0.7818314771 * var(--layer-radius)));
  transform-origin: calc(-0.623489801 * var(--layer-radius) + 50%) calc(-0.7818314771 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.623489801 * var(--layer-radius) + 50%) calc(-0.7818314771 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="8"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="8"] :nth-child(2) {
  transform: translate(calc(-0.7071067812 * var(--layer-radius)), calc(0.7071067812 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.7071067812 * var(--layer-radius)), calc(0.7071067812 * var(--layer-radius)));
  transform-origin: calc(-0.7071067812 * var(--layer-radius) + 50%) calc(0.7071067812 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.7071067812 * var(--layer-radius) + 50%) calc(0.7071067812 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="8"] :nth-child(3) {
  transform: translate(calc(0 * var(--layer-radius)), calc(1 * var(--layer-radius)));
  -webkit-transform: translate(calc(0 * var(--layer-radius)), calc(1 * var(--layer-radius)));
  transform-origin: calc(0 * var(--layer-radius) + 50%) calc(1 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0 * var(--layer-radius) + 50%) calc(1 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="8"] :nth-child(4) {
  transform: translate(calc(0.7071067812 * var(--layer-radius)), calc(0.7071067812 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.7071067812 * var(--layer-radius)), calc(0.7071067812 * var(--layer-radius)));
  transform-origin: calc(0.7071067812 * var(--layer-radius) + 50%) calc(0.7071067812 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.7071067812 * var(--layer-radius) + 50%) calc(0.7071067812 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="8"] :nth-child(5) {
  transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="8"] :nth-child(6) {
  transform: translate(calc(0.7071067812 * var(--layer-radius)), calc(-0.7071067812 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.7071067812 * var(--layer-radius)), calc(-0.7071067812 * var(--layer-radius)));
  transform-origin: calc(0.7071067812 * var(--layer-radius) + 50%) calc(-0.7071067812 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.7071067812 * var(--layer-radius) + 50%) calc(-0.7071067812 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="8"] :nth-child(7) {
  transform: translate(calc(0 * var(--layer-radius)), calc(-0.9999999999 * var(--layer-radius)));
  -webkit-transform: translate(calc(0 * var(--layer-radius)), calc(-0.9999999999 * var(--layer-radius)));
  transform-origin: calc(0 * var(--layer-radius) + 50%) calc(-0.9999999999 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0 * var(--layer-radius) + 50%) calc(-0.9999999999 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="8"] :nth-child(8) {
  transform: translate(calc(-0.7071067794 * var(--layer-radius)), calc(-0.707106771 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.7071067794 * var(--layer-radius)), calc(-0.707106771 * var(--layer-radius)));
  transform-origin: calc(-0.7071067794 * var(--layer-radius) + 50%) calc(-0.707106771 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.7071067794 * var(--layer-radius) + 50%) calc(-0.707106771 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="9"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="9"] :nth-child(2) {
  transform: translate(calc(-0.7660444431 * var(--layer-radius)), calc(0.6427876097 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.7660444431 * var(--layer-radius)), calc(0.6427876097 * var(--layer-radius)));
  transform-origin: calc(-0.7660444431 * var(--layer-radius) + 50%) calc(0.6427876097 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.7660444431 * var(--layer-radius) + 50%) calc(0.6427876097 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="9"] :nth-child(3) {
  transform: translate(calc(-0.1736481777 * var(--layer-radius)), calc(0.984807753 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.1736481777 * var(--layer-radius)), calc(0.984807753 * var(--layer-radius)));
  transform-origin: calc(-0.1736481777 * var(--layer-radius) + 50%) calc(0.984807753 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.1736481777 * var(--layer-radius) + 50%) calc(0.984807753 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="9"] :nth-child(4) {
  transform: translate(calc(0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="9"] :nth-child(5) {
  transform: translate(calc(0.9396926208 * var(--layer-radius)), calc(0.3420201433 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.9396926208 * var(--layer-radius)), calc(0.3420201433 * var(--layer-radius)));
  transform-origin: calc(0.9396926208 * var(--layer-radius) + 50%) calc(0.3420201433 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.9396926208 * var(--layer-radius) + 50%) calc(0.3420201433 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="9"] :nth-child(6) {
  transform: translate(calc(0.9396926208 * var(--layer-radius)), calc(-0.3420201433 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.9396926208 * var(--layer-radius)), calc(-0.3420201433 * var(--layer-radius)));
  transform-origin: calc(0.9396926208 * var(--layer-radius) + 50%) calc(-0.3420201433 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.9396926208 * var(--layer-radius) + 50%) calc(-0.3420201433 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="9"] :nth-child(7) {
  transform: translate(calc(0.5 * var(--layer-radius)), calc(-0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.5 * var(--layer-radius)), calc(-0.8660254038 * var(--layer-radius)));
  transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(-0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(-0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="9"] :nth-child(8) {
  transform: translate(calc(-0.1736481776 * var(--layer-radius)), calc(-0.9848077528 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.1736481776 * var(--layer-radius)), calc(-0.9848077528 * var(--layer-radius)));
  transform-origin: calc(-0.1736481776 * var(--layer-radius) + 50%) calc(-0.9848077528 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.1736481776 * var(--layer-radius) + 50%) calc(-0.9848077528 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="9"] :nth-child(9) {
  transform: translate(calc(-0.7660444402 * var(--layer-radius)), calc(-0.6427875932 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.7660444402 * var(--layer-radius)), calc(-0.6427875932 * var(--layer-radius)));
  transform-origin: calc(-0.7660444402 * var(--layer-radius) + 50%) calc(-0.6427875932 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.7660444402 * var(--layer-radius) + 50%) calc(-0.6427875932 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(2) {
  transform: translate(calc(-0.8090169944 * var(--layer-radius)), calc(0.5877852523 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.8090169944 * var(--layer-radius)), calc(0.5877852523 * var(--layer-radius)));
  transform-origin: calc(-0.8090169944 * var(--layer-radius) + 50%) calc(0.5877852523 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.8090169944 * var(--layer-radius) + 50%) calc(0.5877852523 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(3) {
  transform: translate(calc(-0.3090169944 * var(--layer-radius)), calc(0.9510565163 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.3090169944 * var(--layer-radius)), calc(0.9510565163 * var(--layer-radius)));
  transform-origin: calc(-0.3090169944 * var(--layer-radius) + 50%) calc(0.9510565163 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.3090169944 * var(--layer-radius) + 50%) calc(0.9510565163 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(4) {
  transform: translate(calc(0.3090169944 * var(--layer-radius)), calc(0.9510565163 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.3090169944 * var(--layer-radius)), calc(0.9510565163 * var(--layer-radius)));
  transform-origin: calc(0.3090169944 * var(--layer-radius) + 50%) calc(0.9510565163 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.3090169944 * var(--layer-radius) + 50%) calc(0.9510565163 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(5) {
  transform: translate(calc(0.8090169944 * var(--layer-radius)), calc(0.5877852523 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.8090169944 * var(--layer-radius)), calc(0.5877852523 * var(--layer-radius)));
  transform-origin: calc(0.8090169944 * var(--layer-radius) + 50%) calc(0.5877852523 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.8090169944 * var(--layer-radius) + 50%) calc(0.5877852523 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(6) {
  transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(7) {
  transform: translate(calc(0.8090169944 * var(--layer-radius)), calc(-0.5877852523 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.8090169944 * var(--layer-radius)), calc(-0.5877852523 * var(--layer-radius)));
  transform-origin: calc(0.8090169944 * var(--layer-radius) + 50%) calc(-0.5877852523 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.8090169944 * var(--layer-radius) + 50%) calc(-0.5877852523 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(8) {
  transform: translate(calc(0.3090169944 * var(--layer-radius)), calc(-0.9510565163 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.3090169944 * var(--layer-radius)), calc(-0.9510565163 * var(--layer-radius)));
  transform-origin: calc(0.3090169944 * var(--layer-radius) + 50%) calc(-0.9510565163 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.3090169944 * var(--layer-radius) + 50%) calc(-0.9510565163 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(9) {
  transform: translate(calc(-0.3090169943 * var(--layer-radius)), calc(-0.9510565157 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.3090169943 * var(--layer-radius)), calc(-0.9510565157 * var(--layer-radius)));
  transform-origin: calc(-0.3090169943 * var(--layer-radius) + 50%) calc(-0.9510565157 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.3090169943 * var(--layer-radius) + 50%) calc(-0.9510565157 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="10"] :nth-child(10) {
  transform: translate(calc(-0.8090169901 * var(--layer-radius)), calc(-0.5877852283 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.8090169901 * var(--layer-radius)), calc(-0.5877852283 * var(--layer-radius)));
  transform-origin: calc(-0.8090169901 * var(--layer-radius) + 50%) calc(-0.5877852283 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.8090169901 * var(--layer-radius) + 50%) calc(-0.5877852283 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(2) {
  transform: translate(calc(-0.8412535328 * var(--layer-radius)), calc(0.5406408175 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.8412535328 * var(--layer-radius)), calc(0.5406408175 * var(--layer-radius)));
  transform-origin: calc(-0.8412535328 * var(--layer-radius) + 50%) calc(0.5406408175 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.8412535328 * var(--layer-radius) + 50%) calc(0.5406408175 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(3) {
  transform: translate(calc(-0.415415013 * var(--layer-radius)), calc(0.9096319954 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.415415013 * var(--layer-radius)), calc(0.9096319954 * var(--layer-radius)));
  transform-origin: calc(-0.415415013 * var(--layer-radius) + 50%) calc(0.9096319954 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.415415013 * var(--layer-radius) + 50%) calc(0.9096319954 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(4) {
  transform: translate(calc(0.1423148383 * var(--layer-radius)), calc(0.9898214419 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.1423148383 * var(--layer-radius)), calc(0.9898214419 * var(--layer-radius)));
  transform-origin: calc(0.1423148383 * var(--layer-radius) + 50%) calc(0.9898214419 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.1423148383 * var(--layer-radius) + 50%) calc(0.9898214419 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(5) {
  transform: translate(calc(0.6548607339 * var(--layer-radius)), calc(0.7557495744 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.6548607339 * var(--layer-radius)), calc(0.7557495744 * var(--layer-radius)));
  transform-origin: calc(0.6548607339 * var(--layer-radius) + 50%) calc(0.7557495744 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.6548607339 * var(--layer-radius) + 50%) calc(0.7557495744 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(6) {
  transform: translate(calc(0.9594929736 * var(--layer-radius)), calc(0.2817325568 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.9594929736 * var(--layer-radius)), calc(0.2817325568 * var(--layer-radius)));
  transform-origin: calc(0.9594929736 * var(--layer-radius) + 50%) calc(0.2817325568 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.9594929736 * var(--layer-radius) + 50%) calc(0.2817325568 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(7) {
  transform: translate(calc(0.9594929736 * var(--layer-radius)), calc(-0.2817325568 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.9594929736 * var(--layer-radius)), calc(-0.2817325568 * var(--layer-radius)));
  transform-origin: calc(0.9594929736 * var(--layer-radius) + 50%) calc(-0.2817325568 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.9594929736 * var(--layer-radius) + 50%) calc(-0.2817325568 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(8) {
  transform: translate(calc(0.6548607339 * var(--layer-radius)), calc(-0.7557495744 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.6548607339 * var(--layer-radius)), calc(-0.7557495744 * var(--layer-radius)));
  transform-origin: calc(0.6548607339 * var(--layer-radius) + 50%) calc(-0.7557495744 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.6548607339 * var(--layer-radius) + 50%) calc(-0.7557495744 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(9) {
  transform: translate(calc(0.1423148383 * var(--layer-radius)), calc(-0.9898214419 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.1423148383 * var(--layer-radius)), calc(-0.9898214419 * var(--layer-radius)));
  transform-origin: calc(0.1423148383 * var(--layer-radius) + 50%) calc(-0.9898214419 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.1423148383 * var(--layer-radius) + 50%) calc(-0.9898214419 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(10) {
  transform: translate(calc(-0.4154150128 * var(--layer-radius)), calc(-0.9096319941 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.4154150128 * var(--layer-radius)), calc(-0.9096319941 * var(--layer-radius)));
  transform-origin: calc(-0.4154150128 * var(--layer-radius) + 50%) calc(-0.9096319941 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.4154150128 * var(--layer-radius) + 50%) calc(-0.9096319941 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="11"] :nth-child(11) {
  transform: translate(calc(-0.841253527 * var(--layer-radius)), calc(-0.5406407849 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.841253527 * var(--layer-radius)), calc(-0.5406407849 * var(--layer-radius)));
  transform-origin: calc(-0.841253527 * var(--layer-radius) + 50%) calc(-0.5406407849 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.841253527 * var(--layer-radius) + 50%) calc(-0.5406407849 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(1) {
  transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(-1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(2) {
  transform: translate(calc(-0.8660254038 * var(--layer-radius)), calc(0.5 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.8660254038 * var(--layer-radius)), calc(0.5 * var(--layer-radius)));
  transform-origin: calc(-0.8660254038 * var(--layer-radius) + 50%) calc(0.5 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.8660254038 * var(--layer-radius) + 50%) calc(0.5 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(3) {
  transform: translate(calc(-0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  transform-origin: calc(-0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(4) {
  transform: translate(calc(0 * var(--layer-radius)), calc(1 * var(--layer-radius)));
  -webkit-transform: translate(calc(0 * var(--layer-radius)), calc(1 * var(--layer-radius)));
  transform-origin: calc(0 * var(--layer-radius) + 50%) calc(1 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0 * var(--layer-radius) + 50%) calc(1 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(5) {
  transform: translate(calc(0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.5 * var(--layer-radius)), calc(0.8660254038 * var(--layer-radius)));
  transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(6) {
  transform: translate(calc(0.8660254038 * var(--layer-radius)), calc(0.5 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.8660254038 * var(--layer-radius)), calc(0.5 * var(--layer-radius)));
  transform-origin: calc(0.8660254038 * var(--layer-radius) + 50%) calc(0.5 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.8660254038 * var(--layer-radius) + 50%) calc(0.5 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(7) {
  transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  -webkit-transform: translate(calc(1 * var(--layer-radius)), calc(0 * var(--layer-radius)));
  transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(1 * var(--layer-radius) + 50%) calc(0 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(8) {
  transform: translate(calc(0.8660254038 * var(--layer-radius)), calc(-0.5 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.8660254038 * var(--layer-radius)), calc(-0.5 * var(--layer-radius)));
  transform-origin: calc(0.8660254038 * var(--layer-radius) + 50%) calc(-0.5 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.8660254038 * var(--layer-radius) + 50%) calc(-0.5 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(9) {
  transform: translate(calc(0.5 * var(--layer-radius)), calc(-0.8660254038 * var(--layer-radius)));
  -webkit-transform: translate(calc(0.5 * var(--layer-radius)), calc(-0.8660254038 * var(--layer-radius)));
  transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(-0.8660254038 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0.5 * var(--layer-radius) + 50%) calc(-0.8660254038 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(10) {
  transform: translate(calc(0 * var(--layer-radius)), calc(-0.9999999999 * var(--layer-radius)));
  -webkit-transform: translate(calc(0 * var(--layer-radius)), calc(-0.9999999999 * var(--layer-radius)));
  transform-origin: calc(0 * var(--layer-radius) + 50%) calc(-0.9999999999 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(0 * var(--layer-radius) + 50%) calc(-0.9999999999 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(11) {
  transform: translate(calc(-0.4999999996 * var(--layer-radius)), calc(-0.8660254016 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.4999999996 * var(--layer-radius)), calc(-0.8660254016 * var(--layer-radius)));
  transform-origin: calc(-0.4999999996 * var(--layer-radius) + 50%) calc(-0.8660254016 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.4999999996 * var(--layer-radius) + 50%) calc(-0.8660254016 * var(--layer-radius) + 50%);
}
.floating-circle ::deep > .floating-circle-layer[data-count="12"] :nth-child(12) {
  transform: translate(calc(-0.8660253961 * var(--layer-radius)), calc(-0.4999999582 * var(--layer-radius)));
  -webkit-transform: translate(calc(-0.8660253961 * var(--layer-radius)), calc(-0.4999999582 * var(--layer-radius)));
  transform-origin: calc(-0.8660253961 * var(--layer-radius) + 50%) calc(-0.4999999582 * var(--layer-radius) + 50%);
  -webkit-transform-origin: calc(-0.8660253961 * var(--layer-radius) + 50%) calc(-0.4999999582 * var(--layer-radius) + 50%);
}
