<div class="flex row section-header @(ContainerClass)">
    <h2 class="section-header-text @(TextClass)" data-text="@Title">@Title</h2>
</div>

@code {
    [Parameter]
    public string ContainerClass { get; set; } = "";
    [Parameter]
    public string TextClass { get; set; } = "";

    [Parameter]
    public string? Title { get; set; }
}
