.slider {
    position: relative;

    display: block;
    width: 100%;
    height: auto;

    overflow: hidden;

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr auto;
}

.slider-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;

    -ms-overflow-style: none; /* IE */
    scrollbar-width: none; /* Firefox */
}

/* Chrome */
.slider-content::-webkit-scrollbar {
    display: none;
}

::deep .slider-item {
    display: grid;
    place-items: center;
    width: 100%;

    scroll-snap-align: center;
}

.slider-controls {
    --slider-controls-height: clamp(0.5em, 1.2vw, 2em);
    --slider-controls-gap: calc(var(--slider-controls-height) * 0.5);
    --slider-controls-border: calc(0.1em);
    --slider-controls-underline-height: calc(var(--slider-controls-height) * 0.5);

    gap: var(--slider-controls-gap);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-inline: auto;
}

.slider-controls > [data-item] {
    display: block;

    height: var(--slider-controls-height);
    width: var(--slider-controls-height);

    background: none;
    border: solid var(--slider-controls-border) var(--accent-1-900);

    border-radius: 50%;

    transition: background-color 500ms ease,
                transform 500ms ease,
                border 250ms ease;

}

.slider-controls > [data-item]:where(:hover, :focus) {
    border-bottom-width: var(--slider-controls-underline-height);
}

.slider-controls > .active {
    background-color: var(--accent-1-900);
    transform: translateY(-25%);
}
