/* Tab Styles */

.tabs-container {
    box-shadow: 0.1rem 0.1rem 0.15rem 0.15rem hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 4%));
    background-color: var(--primary-100);
    width: clamp(20rem, 70vw, 2000px);
    max-width: 100%;
    margin-inline: auto;
    overflow: hidden;
}

.tabs-headers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background: none;
}

.tabs-container-headers {
    flex-wrap: wrap;
    gap: 1rem;
    margin-block: 0;
    margin-inline: 1rem;
}

.tabs-container-header {
    position: relative;
    width: fit-content;
    font-size: var(--fs-p-1);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--grey-900);
    padding-inline: clamp(1rem, 1vw, 2rem);
    padding-block: 0.5rem;
    transition: background-color ease-out 0.15s, color ease-out 0.15s;
}

.tabs-container-header::after {
    position: absolute;
    content: '';
    left: 0.15rem;
    right: 0.15rem;
    bottom: 0.1rem;
    height: 0.1rem;
    border-radius: 0.5rem;
    z-index: 1;
    background-color: var(--primary-900);
    transform: translateY(100%);
    opacity: 0;
    transition: transform ease-out 0.15s;
}

.tabs-container-header:hover, .tabs-container-header:focus-visible {
    background-color: var(--accent-1-500);
    color: var(--grey-900);
}

.tabs-container-header.selected::after,
.tabs-container-header:hover::after,
.tabs-container-header:focus::after {
    transform: translateY(0%);
    opacity: 1;
}

.tabs-container-content {
    width: 100%;
    margin-inline: auto;
    padding-inline: 4rem;
    padding-block: 2rem;
}

.tabs-card {
    display: grid;
    grid-auto-columns: auto 1fr;
    gap: 0.35rem;
    margin-block: 0rem;
    padding-inline: 0rem;
    padding-block: 0rem;
    background: none;
    max-width: 100%;
    height: max-content;
    position: relative;
    border-radius: 0.25rem;
    color: var(--grey-700);
    overflow: auto;
}

.tabs-card-headers {
    grid-column: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    width: max-content;
    background-color: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 2%));
    box-shadow: 0.15rem 0.15rem 0.15rem hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 4%));
}

.tabs-card-header {
    position: relative;
    font-size: 1.25rem;
    line-height: 1.5em;
    color: var(--grey-900);
    padding-inline: clamp(2rem, 2vw, 6rem);
    padding-block: clamp(1rem, 1vh, 2rem);
}

.tabs-card-header::after {
    position: absolute;
    content: '';
    left: 0.15rem;
    right: 0.15rem;
    bottom: 0.1rem;
    height: 0.1rem;
    border-radius: 0.5rem;
    z-index: 1;
    background-color: var(--primary-900);
    transform: translateY(100%);
    opacity: 0;
    transition: transform ease-out 0.15s;
}

.tabs-card-header:hover, .tabs-card-header:focus-visible {
    background-color: var(--accent-1-500);
    color: var(--grey-900);
}

.tabs-card-header.selected::after,
.tabs-card-header:hover::after,
.tabs-card-header:focus-visible::after {
    transform: translateY(0%);
    opacity: 1;
}


.tabs-card-content {
    grid-column: 2;
    padding-block: clamp(2rem, 2vh, 6rem);
    padding-inline: clamp(2rem, 2vw, 6rem);
    background-color: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 2%));
    box-shadow: 0.15rem 0.15rem 0.15rem hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 4%));
}
