@namespace Portfolio_Site.Components
@inherits InputBase

<div class="input-base text-input">
    @if (!String.IsNullOrEmpty(Label)) {
        <label for="@Id">@Label</label>
    }
    <input id="@Id" />
</div>

@code {
}
