.tile {
    --tile-body-bg-color: var(--accent-1-100);
    --tile-header-bg-blur: 0.05rem;
    --tile-header-bg-brightness: 1;
    --tile-header-bg-opacity: 1;
    --tile-body-bg-blur: 0.35rem;
    --tile-body-bg-brightness: 0.75;
    --tile-header-bg-opacity: 1;
    position: relative;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0;
    overflow: hidden;
    color: var(--grey-700);
    border-radius: 0.25rem;
    background-color: var(--primary-900);
    box-shadow: var(--box-shadow-primary);
    z-index: 5;

    &:hover, &:focus-visible, &:focus-within
    {
        .tile-header-contents {
            font-weight: normal;
        }

        .tile-image {
            scale: 105%;
        }

        &::before {
            opacity: 1;
        }
    }

    & * {
        pointer-events: none;
    }
}

.tile-button {
    position: absolute;
    padding: 0.1rem;
    margin: 0;
    width: 5%;
    aspect-ratio: 1;
    color: var(--grey-100);
    line-height: 100%;
    text-align: center;
    font-weight: 700;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
    pointer-events: none;
}

.tile-image, .tile-header, .tile-body {
    position: absolute;
    inset: 0;
    pointer-events: initial;
}

.tile-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    filter: brightness(1) blur(0.05rem);
    opacity: var(--tile-header-bg-opacity);
    transition: filter ease 600ms, opacity ease 600ms, scale ease-out 250ms;
}

.tile::before {
    --bg-glow-color: hsl(from var(--secondary-700) h s l / 0.1);
    content: '';
    position: absolute;
    border-radius: inherit;
    inset: 0;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity ease-in 250ms;
    background: radial-gradient(60vw circle at var(--bg-glow-x) var(--bg-glow-y), var(--bg-glow-color) 0%, transparent 100%);
}

.tile-image ::deep * {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.tile:not(.expanded) {
    &:hover, &:focus-visible,
    &:focus-within
    {
        > .tile-body {
            -webkit-clip-path: polygon(0 0, 0 25%, 25% 0);
            clip-path: polygon(0 0, 0 25%, 25% 0);
        }

        .tile-open-button {
            translate: 0% 0%;
            scale: 125% 125%;
        }
    }

    > .tile-body {
        z-index: 1;
        cursor: pointer;

        &:hover, &:focus-visible, &:focus-within {
            filter: brightness(2);
        }

        > * {
            opacity: 0;
        }
    }
}

.tile.expanded {
    &:hover, &:focus-visible,
    &:focus-within
    { 
        > .tile-header {
            -webkit-clip-path: polygon(100% 75%, 75% 100%, 100% 100%);
            clip-path: polygon(100% 75%, 75% 100%, 100% 100%);
        }

        .tile-close-button {
            translate: 0% 0%;
            scale: 125% 125%;
            transition: translate ease-out 250ms 50ms, scale ease-out 250ms 200ms;
        }
    }

    .tile-image {
    //    filter: brightness(0.5) blur(0.25rem);
    //    opacity: 0.5;
    }

    > .tile-header {
        z-index: 1;
        cursor: pointer;

        -webkit-clip-path: polygon(100% 80%, 80% 100%, 100% 100%);
        clip-path: polygon(100% 80%, 80% 100%, 100% 100%);

        &:hover, &:focus-visible, &:focus-within {
            filter: brightness(2);
        }

        > * {
            opacity: 0;
        }
    }

    > .tile-body {
        -webkit-clip-path: polygon(0 0, 0 200%, 200% 0);
        clip-path: polygon(0 0, 0 200%, 200% 0);

        > * {
            opacity: 1;
        }
    }

    .tile-open-button {
        translate: -200% -200%;
    }
}

.tile-header {
    display: flex;

    --tile-header-overlay-color-top: var(--primary-500);
    --tile-header-overlay-color-bottom: var(--primary-300);

    background-image: linear-gradient(hsl(from var(--tile-header-overlay-color-top) h s l / 0.4) 0%, var(--tile-header-overlay-color-bottom) 80%);
    mix-blend-mode: hard-light;

    filter: brightness(1);

    -webkit-clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
    transition: clip-path ease 600ms, filter ease 500ms;

    > * {
        opacity: 1;

        transition: opacity 600ms linear;
    }

    .tile-header-contents {
        display: grid;
        align-items: flex-end;
        flex-grow: 1;

        padding-inline: max(2rem, 2vw);
        padding-block-end: max(2rem, 3vw);

        font-family: var(--font-header);
        font-size: var(--fs-h-3);
        font-weight: lighter;
        color: var(--grey-900);
        text-align: right;

        transition: font-weight ease-out 250ms;
    }
}

.tile-body {
    display: flex;
    background: hsl(from var(--tile-body-bg-color) h s l / 0.35);
    backdrop-filter: contrast(150%) saturate(80%) brightness(50%) blur(0.5rem);
    //mix-blend-mode: hard-light;

    filter: brightness(1);

    -webkit-clip-path: polygon(0 0, 0 20%, 20% 0);
    clip-path: polygon(0 0, 0 20%, 20% 0);
    transition: clip-path ease 600ms, filter ease 500ms;

    > * {
        transition: opacity 600ms linear;
    }

    .tile-body-contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        padding-inline: max(2rem, 2vw);
        padding-block: max(2rem, 2vw);

        font-size: var(--fs-p-3);
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0.1rem;
        color: var(--grey-900);
    }
}

.tile-open-button {
    left: 5%;
    top: 5%;
    translate: -200% -200%;
    transition: translate ease-out 250ms 50ms, scale ease-out 250ms 200ms;
}

.tile-close-button {
    right: 5%;
    bottom: 5%;
    translate: 200% 200%;
    transition: translate ease-out 250ms, scale ease-out 250ms;
}

