@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import "variables.css";

*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-body);
}

body {
    background-color: var(--primary-100);
}

button {
    border: none;
    background: none;
}

.content {
    border: solid 0.25rem var(--primary-300);
    border-radius: 0.5rem;

    width: min(75%, 2000px);

    margin-inline: auto;
    margin-bottom: max(4rem, 10vh);
    margin-top: 8rem;

    padding-inline: 4rem;
    padding-top: 2rem;
    padding-bottom: max(8rem, 80%);
}

.card {
    display: block;
    position: relative;

    width: fit-content;
    border-radius: 0.25rem;

    color: var(--grey-700);

    background-color: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 2%));

    box-shadow: 0.15rem 0.15rem 0.15rem hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 4%));
}

.card > *:not(:first-child):not(:last-child) {
    border-top: 0.25rem solid var(--primary-100);
    border-bottom: 0.25rem solid var(--primary-100);
}

.card-image,
.card-image img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: auto;
}

.card-image:first-child,
.card-image:first-child img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-image:last-child,
.card-image:last-child img {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


.card-title {
    font-size: 1.25rem;
    color: var(--grey-900);

    padding-inline: clamp(2rem, 2vw, 6rem);
    padding-block: clamp(1rem, 1vh, 2rem);
}


.card-body {
    padding-block: clamp(2rem, 2vh, 6rem);
    padding-inline: clamp(2rem, 2vw, 6rem);
}

.btn {
    --button-background-color: var(--accent-2-500);
    --button-color: var(--grey-900);
    --button-hover-background-color: var(--accent-2-300);
    --button-hover-color: var(--grey-900);
    --button-hover-bottom-border: var(--primary-900);

    position: relative;
    display: inline-block;

    background-color: var(--button-background-color);
    border: 0.1rem var(--button-background-color) solid;
    color: var(--button-color);

    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 0.5rem;

    cursor: pointer;
    transition: background-color ease-out 0.15s,
                border-color: ease-out 0.15s
                color ease-out 0.15s;
}

.btn::after {
    position: absolute;
    content: '';
    left: 0.15rem;
    right: 0.15rem;
    bottom: 0.1rem;
    height: 0.25rem;
    border-radius: 0.5rem;

    z-index: 1;
    background-color: var(--button-hover-bottom-border);

    transform: translateY(100%);
    opacity: 0;

    transition: transform ease-out 0.15s,
                opacity ease-out 0.15s;
}

.btn:hover {
    background-color: var(--button-hover-background-color);
    border-color: var(--button-hover-background-color);
    color: var(--button-hover-color);
}

.btn:hover::after {
    transform: translateY(0%);
    opacity: 1;
}

.btn.outline {
    background: none;
    border: 0.1rem var(--button-background-color) solid;
    color: var(--button-background-color);

    box-shadow: 0px 0px 0.25rem inset var(--button-background-color);
}

.btn.outline:hover {
    background-color: var(--button-background-color);
    color: var(--grey-900);
}

.btn.outline:hover::after {
    background-color: var(--button-hover-background-color);
}

.btn.primary {
    --button-background-color: var(--primary-700);
    --button-color: var(--grey-900);
    --button-hover-background-color: var(--primary-500);
    --button-hover-color: var(--grey-900);
    --button-hover-bottom-border: var(--primary-300);
}

.btn.accent-1 {
    --button-background-color: var(--accent-1-500);
    --button-color: var(--grey-900);
    --button-hover-background-color: var(--accent-1-300);
    --button-hover-color: var(--grey-900);
    --button-hover-bottom-border: var(--accent-1-100);
}

.btn.accent-2 {
    --button-background-color: var(--accent-2-500);
    --button-color: var(--grey-900);
    --button-hover-background-color: var(--accent-2-300);
    --button-hover-color: var(--grey-900);
    --button-hover-bottom-border: var(--accent-2-100);
}

.btn.accent-3 {
    --button-background-color: var(--accent-3-500);
    --button-color: var(--grey-900);
    --button-hover-background-color: var(--accent-3-300);
    --button-hover-color: var(--grey-900);
    --button-hover-bottom-border: var(--accent-3-100);
}

.btn.success {
    --button-background-color: var(--success-700);
    --button-color: var(--grey-900);
    --button-hover-background-color: var(--success-500);
    --button-hover-color: var(--grey-900);
    --button-hover-bottom-border: var(--success-300);
}

.btn.danger {
    --button-background-color: var(--danger-500);
    --button-color: var(--grey-900);
    --button-hover-background-color: var(--danger-300);
    --button-hover-color: var(--grey-900);
    --button-hover-bottom-border: var(--danger-100);
}



/* Utility Classes */

.flex {
    display: flex;
    margin-block: 1rem;
    
    gap: var(--gap, 1rem);
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.no-wrap {
    flex-wrap: nowrap;
}

.grid {
    display: grid;
}