:root {
    --primary: #000814;
    --accent: #001d3d;
    --accent-2: #003566;
    --accent-3: #ffc300;
    --accent-4: #ffd60a;
    --grey-900: #fff;
    --grey-700: #ccc;
    --grey-500: #aaa;
    --grey-100: #222;
}
