:root {
    --font-header: 'Karla', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-body: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --primary-h: 220;
    --primary-s: 7%;
    --primary-l: 16%;

    --primary: var(--primary-h) var(--primary-s) var(--primary-l);

    --primary-000: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 4%));
    --primary-050: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) - 2%));
    --primary-100: hsl(var(--primary-h) var(--primary-s) var(--primary-l));
    --primary-300: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + 16%));
    --primary-500: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + 32%));
    --primary-700: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + 48%));
    --primary-900: hsl(var(--primary-h) var(--primary-s) calc(var(--primary-l) + 64%));

    --accent-1-h: 271;
    --accent-1-s: 56%;
    --accent-1-l: 16%;

    --accent-1: var(--accent-1-h) var(--accent-1-s) var(--accent-1-l);

    --accent-1-100: hsl(var(--accent-1-h), var(--accent-1-s), calc(var(--accent-1-l)));
    --accent-1-300: hsl(var(--accent-1-h), var(--accent-1-s), calc(var(--accent-1-l) + 16%));
    --accent-1-500: hsl(var(--accent-1-h), var(--accent-1-s), calc(var(--accent-1-l) + 32%));
    --accent-1-700: hsl(var(--accent-1-h), var(--accent-1-s), calc(var(--accent-1-l) + 48%));
    --accent-1-900: hsl(var(--accent-1-h), var(--accent-1-s), calc(var(--accent-1-l) + 64%));

    --accent-2-h: 204;
    --accent-2-s: 57%;
    --accent-2-l: 80%;

    --accent-2-100: hsl(var(--accent-2-h) var(--accent-2-s) calc(var(--accent-2-l) - 48%));
    --accent-2-300: hsl(var(--accent-2-h) var(--accent-2-s) calc(var(--accent-2-l) - 32%));
    --accent-2-500: hsl(var(--accent-2-h) var(--accent-2-s) calc(var(--accent-2-l) - 16%));
    --accent-2-700: hsl(var(--accent-2-h) var(--accent-2-s) calc(var(--accent-2-l)));
    --accent-2-900: hsl(var(--accent-2-h) var(--accent-2-s) calc(var(--accent-2-l) + 8%));

    --accent-3-h: 337;
    --accent-3-s: 59%;
    --accent-3-l: 53%;

    --accent-3-100: hsl(var(--accent-3-h) var(--accent-3-s) calc(var(--accent-3-l) - 32%));
    --accent-3-300: hsl(var(--accent-3-h) var(--accent-3-s) calc(var(--accent-3-l) - 16%));
    --accent-3-500: hsl(var(--accent-3-h) var(--accent-3-s) calc(var(--accent-3-l)));
    --accent-3-700: hsl(var(--accent-3-h) var(--accent-3-s) calc(var(--accent-3-l) + 16%));
    --accent-3-900: hsl(var(--accent-3-h) var(--accent-3-s) calc(var(--accent-3-l) + 32%));

    --success-h: 86;
    --success-s: 93%;
    --success-l: 24%;

    --success-100: hsl(var(--success-h) var(--success-s) calc(var(--success-l) - 32%));
    --success-300: hsl(var(--success-h) var(--success-s) calc(var(--success-l) - 16%));
    --success-500: hsl(var(--success-h) var(--success-s) calc(var(--success-l)));
    --success-700: hsl(var(--success-h) var(--success-s) calc(var(--success-l) + 16%));
    --success-900: hsl(var(--success-h) var(--success-s) calc(var(--success-l) + 32%));

    --danger-h: 360;
    --danger-s: 82%;
    --danger-l: 45%;

    --danger-100: hsl(var(--danger-h) var(--danger-s) calc(var(--danger-l) - 32%));
    --danger-300: hsl(var(--danger-h) var(--danger-s) calc(var(--danger-l) - 16%));
    --danger-500: hsl(var(--danger-h) var(--danger-s) calc(var(--danger-l)));
    --danger-700: hsl(var(--danger-h) var(--danger-s) calc(var(--danger-l) + 16%));
    --danger-900: hsl(var(--danger-h) var(--danger-s) calc(var(--danger-l) + 32%));


    --accent-1: hsl(271 56% 16%);
    --accent-2: hsl(204 57% 80%);
    --accent-3: hsl(337 59% 53%);
    --success: hsl(86 93% 24%);

    --grey-100: hsl(0 0% 10%);
    --grey-300: hsl(0 0% 30%);
    --grey-500: hsl(0 0% 50%);
    --grey-700: hsl(0 0% 70%);
    --grey-900: hsl(0 0% 90%);

    --fs-h-1: clamp(2rem, 8vw + 1rem, 10rem);
    --fs-h-2: clamp(2rem, 5vw + 1rem, 8rem);
    --fs-h-3: clamp(2rem, 3vw + 1rem, 5rem);
    --fs-h-4: clamp(1.5rem, 2vw + 1rem, 3.5rem);
    --fs-h-5: clamp(1rem, 1vw + 1rem, 2rem);

    --fs-p-1: clamp(1rem, 0.5vw + 0.5rem, 1.5rem);
    --fs-p-2: clamp(1rem, 0.5vw + 0.75rem, 2rem);
    --fs-p-3: clamp(1rem, 0.5vw + 1.5rem, 2rem);
}

@keyframes background-drift {
    0%   {
        background-position: 0rem 0rem;
    }
    100% {
        background-position: -100rem -50rem;
    }
}

@keyframes background-color-shift {
    0% {
        --background-dot-color: var(--accent-1-300);
        /*background-image: radial-gradient(var(--accent-1-300) 4%, transparent 4% );*/
    }

    100% {
        /*background-image: radial-gradient(var(--accent-2-900) 4%, transparent 4% );*/
        --background-dot-color: var(--accent-2-900);
    }
}
