@import '../../wwwroot/css/variables.scss';

/* Card Styles */

.card {
    display: grid;
    grid-auto-rows: max-content;
    gap: 0.35rem;
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 0.25rem;
    color: var(--card-text-color);
    overflow: visible;

    z-index: 5;
}

.card > * {
    height: fit-content;
    background-color: var(--card-bg-color);
    box-shadow: var(--box-shadow-card);
    
    border: var(--card-border-color) 2px solid;
}

.card-image, .card-image ::deep img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card-title {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.5em;
    font-weight: 600;

    color: var(--card-text-color);
    padding-inline: clamp(2rem, 2vw, 6rem);
    padding-block: clamp(1rem, 1vh, 2rem);
}

.card-body {
    padding-block: clamp(2rem, 2vh, 6rem);
    padding-inline: clamp(2rem, 2vw, 6rem);
}

/* Horizontal Card Styles */

@media (width > $screen-size-lg) {
    .card.horizontal {
        grid-template-columns: auto auto;
        grid-template-rows: auto min-content;
        width: 100%;
        height: max-content;
    }

    .card.horizontal > .card-image,
    .card.horizontal.image-left > .card-image {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .card.horizontal.image-right > .card-image {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .card.horizontal.no-title > .card-body {
        grid-row: span 2;
    }

    .card.horizontal > .card-title, .card.horizontal > .card-body {
        height: 100%;
    }
}


/* Card Sizing Styles */
.card:not(.horizontal), .card:not(horizontal).md, .card.vertical, card.vertical.md {
    min-width: clamp(4em, 8vw, 8em);
    max-width: clamp(24em, 25vw, 48em);
}

.card:not(horizontal).sm,
.card.vertical.sm {
    min-width: clamp(2em, 6vw, 6em);
    max-width: clamp(12em, 15vw, 32em);
}

.card:not(horizontal).lg,
.car.vertical.lg {
    min-width: clamp(6em, 12vw, 12em);
    max-width: clamp(32em, 35vw, 64em);
}

.card.horizontal.md {
    min-height: clamp(4em, 8vw, 8em);
    max-height: clamp(24em, 25vw, 48em);
}

.card.horizontal.sm {
    min-width: clamp(2em, 6vw, 6em);
    max-width: clamp(12em, 15vw, 32em);
}

.card.horizontal.lg {
    min-width: clamp(6em, 12vw, 12em);
    max-width: clamp(32em, 35vw, 64em);
}

.card.full {
    width: 100%;
    max-width: 100%;
}

.card > *:first-child,
.card.vertical > *:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card > *:last-child,
.card.vertical > *:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.card.horizontal > *:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card.horizontal > *:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
