@rendermode InteractiveAuto
@inject IJSRuntime JSRuntime

<input id="theme-switcher" type="checkbox" class="push" @onchange="OnToggleChanged" @attributes="@AdditionalAttributes" />
<label for="theme-switcher" class="theme-switcher-label">
    <svg role="img" class="theme-icon"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 -960 960 960">

        <path id="light-theme-icon" d="M440-800v-120h80v120h-80Zm0 760v-120h80v120h-80Zm360-400v-80h120v80H800Zm-760 0v-80h120v80H40Zm708-252-56-56 70-72 58 58-72 70ZM198-140l-58-58 72-70 56 56-70 72Zm564 0-70-72 56-56 72 70-58 58ZM212-692l-72-70 58-58 70 72-56 56Zm268 452q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm0-80q67 0 113.5-46.5T640-480q0-67-46.5-113.5T480-640q-67 0-113.5 46.5T320-480q0 67 46.5 113.5T480-320Zm0-160Z" />
        <path id="dark-theme-icon" d="M600-640 480-760l120-120 120 120-120 120Zm200 120-80-80 80-80 80 80-80 80ZM483-80q-84 0-157.5-32t-128-86.5Q143-253 111-326.5T79-484q0-146 93-257.5T409-880q-18 99 11 193.5T520-521q71 71 165.5 100T879-410q-26 144-138 237T483-80Zm0-80q88 0 163-44t118-121q-86-8-163-43.5T463-465q-61-61-97-138t-43-163q-77 43-120.5 118.5T159-484q0 135 94.5 229.5T483-160Zm-20-305Z" />
        @*
        <path id="light-theme-icon"
              d=" M 500 715C 514 715 525 727 525 740 525 782 525 823 525 865 525 879 514 890 500 890 486 890 475 879 475 865 475 823 475 782 475 740 475 727 486 715 500 715ZM 667 645C 675 645 682 647 688 653 718 683 748 713 778 743 787 752 787 768 778 778 768 788 752 788 742 778 712 748 682 718 652 688 643 678 643 662 652 653 656 649 662 646 667 645ZM 327 645C 335 645 342 647 348 653 357 662 357 678 348 688 318 718 288 748 258 778 248 788 232 788 222 778 213 768 213 752 222 743 252 713 282 683 312 653 316 649 322 646 327 645ZM 740 475C 782 475 823 475 865 475 879 475 890 486 890 500 890 514 879 525 865 525 823 525 782 525 740 525 726 525 715 514 715 500 715 486 726 475 740 475ZM 135 475C 177 475 218 475 260 475 274 475 285 486 285 500 285 514 274 525 260 525 218 525 177 525 135 525 121 525 110 514 110 500 110 486 121 475 135 475ZM 500 375C 431 375 375 431 375 500 375 570 431 625 500 625 569 625 625 570 625 500 625 431 569 375 500 375ZM 500 325C 596 325 675 404 675 500 675 597 596 675 500 675 404 675 325 597 325 500 325 404 404 325 500 325ZM 757 215C 765 215 772 217 778 223 787 232 787 248 778 258 748 288 718 318 688 348 678 358 662 358 652 348 643 338 643 322 652 313 682 283 712 253 742 223 746 219 752 216 757 215ZM 237 215C 245 215 252 217 258 223 288 253 318 283 348 313 357 322 357 338 348 348 338 358 322 358 312 348 282 318 252 288 222 258 213 248 213 232 222 223 226 219 232 216 237 215ZM 500 110C 514 110 525 121 525 135 525 177 525 219 525 260 525 274 514 285 500 285 486 285 475 274 475 260 475 219 475 177 475 135 475 121 486 110 500 110Z"
              transform="">
        </path>

        <path id="dark-theme-icon"
              d="M 0 0C 0 0 0 53 0 53C 0 53 947 1000 947 1000C 947 1000 1000 1000 1000 1000C 1000 1000 1000 947 1000 947C 1000 947 53 0 53 0C 53 0 0 0 0 0C 0 0 0 0 0 0 M 538 135C 538 177 538 218 538 260 538 281 521 298 500 298 479 298 462 281 462 260 462 218 462 177 462 135 462 114 479 97 500 97 521 97 538 114 538 135ZM 267 213C 297 243 327 273 357 303 371 318 371 342 357 357 342 371 318 371 303 357 273 327 243 297 213 267 199 252 199 228 213 213 221 206 230 202 240 202 250 202 259 206 267 213ZM 787 213C 801 228 801 252 787 267 757 297 727 327 697 357 682 371 658 371 643 357 629 342 629 318 643 303 673 273 703 243 733 213 741 206 750 203 760 203 770 203 779 206 787 213ZM 688 500C 688 603 603 688 500 688 397 688 312 603 312 500 312 397 397 312 500 312 603 312 688 397 688 500ZM 260 462C 281 463 298 479 298 500 298 521 281 537 260 538 218 538 177 538 135 538 114 538 97 521 97 500 97 479 114 462 135 462 177 462 218 462 260 462ZM 865 462C 886 462 902 479 902 500 902 521 886 538 865 538 823 538 782 538 740 538 719 538 702 521 702 500 702 479 719 462 740 462 782 462 823 462 865 462ZM 357 643C 371 658 371 682 357 697 327 727 297 757 267 787 252 801 228 801 213 787 199 772 199 748 213 733 243 703 273 673 303 643 311 636 320 633 330 633 340 633 349 636 357 643ZM 697 643C 727 673 757 703 787 733 801 748 801 772 787 787 772 801 748 801 733 787 703 757 673 727 643 697 629 682 629 658 643 643 651 636 660 633 670 633 680 633 689 636 697 643ZM 538 740C 538 782 538 823 538 865 538 885 521 902 500 902 479 902 462 885 462 865 462 823 462 782 462 740 462 719 479 703 500 703 521 703 538 719 538 740Z"
              transform="">
        </path>
        *@

    </svg>
    @*
    <!-- Light Theme Icon -->
    <svg role="img" class="theme-icon light-theme-icon"
         xmlns="http://www.w3.org/2000/svg"
         width="1000mm"
         height="1000mm"
         viewBox="0 0 1000 1000">

        <path id="path"
              d=" M 500 715C 514 715 525 727 525 740 525 782 525 823 525 865 525 879 514 890 500 890 486 890 475 879 475 865 475 823 475 782 475 740 475 727 486 715 500 715ZM 667 645C 675 645 682 647 688 653 718 683 748 713 778 743 787 752 787 768 778 778 768 788 752 788 742 778 712 748 682 718 652 688 643 678 643 662 652 653 656 649 662 646 667 645ZM 327 645C 335 645 342 647 348 653 357 662 357 678 348 688 318 718 288 748 258 778 248 788 232 788 222 778 213 768 213 752 222 743 252 713 282 683 312 653 316 649 322 646 327 645ZM 740 475C 782 475 823 475 865 475 879 475 890 486 890 500 890 514 879 525 865 525 823 525 782 525 740 525 726 525 715 514 715 500 715 486 726 475 740 475ZM 135 475C 177 475 218 475 260 475 274 475 285 486 285 500 285 514 274 525 260 525 218 525 177 525 135 525 121 525 110 514 110 500 110 486 121 475 135 475ZM 500 375C 431 375 375 431 375 500 375 570 431 625 500 625 569 625 625 570 625 500 625 431 569 375 500 375ZM 500 325C 596 325 675 404 675 500 675 597 596 675 500 675 404 675 325 597 325 500 325 404 404 325 500 325ZM 757 215C 765 215 772 217 778 223 787 232 787 248 778 258 748 288 718 318 688 348 678 358 662 358 652 348 643 338 643 322 652 313 682 283 712 253 742 223 746 219 752 216 757 215ZM 237 215C 245 215 252 217 258 223 288 253 318 283 348 313 357 322 357 338 348 348 338 358 322 358 312 348 282 318 252 288 222 258 213 248 213 232 222 223 226 219 232 216 237 215ZM 500 110C 514 110 525 121 525 135 525 177 525 219 525 260 525 274 514 285 500 285 486 285 475 274 475 260 475 219 475 177 475 135 475 121 486 110 500 110Z"
              transform="">
        </path>
    </svg>

    <!-- Dark Theme Icon -->
    <svg role="img" class="theme-icon dark-theme-icon"
         xmlns="http://www.w3.org/2000/svg"
         width="1000mm"
         height="1000mm"
         viewBox="0 0 1000 1000">

        <path id="path"
              d="M 0 0C 0 0 0 53 0 53C 0 53 947 1000 947 1000C 947 1000 1000 1000 1000 1000C 1000 1000 1000 947 1000 947C 1000 947 53 0 53 0C 53 0 0 0 0 0C 0 0 0 0 0 0 M 538 135C 538 177 538 218 538 260 538 281 521 298 500 298 479 298 462 281 462 260 462 218 462 177 462 135 462 114 479 97 500 97 521 97 538 114 538 135ZM 267 213C 297 243 327 273 357 303 371 318 371 342 357 357 342 371 318 371 303 357 273 327 243 297 213 267 199 252 199 228 213 213 221 206 230 202 240 202 250 202 259 206 267 213ZM 787 213C 801 228 801 252 787 267 757 297 727 327 697 357 682 371 658 371 643 357 629 342 629 318 643 303 673 273 703 243 733 213 741 206 750 203 760 203 770 203 779 206 787 213ZM 688 500C 688 603 603 688 500 688 397 688 312 603 312 500 312 397 397 312 500 312 603 312 688 397 688 500ZM 260 462C 281 463 298 479 298 500 298 521 281 537 260 538 218 538 177 538 135 538 114 538 97 521 97 500 97 479 114 462 135 462 177 462 218 462 260 462ZM 865 462C 886 462 902 479 902 500 902 521 886 538 865 538 823 538 782 538 740 538 719 538 702 521 702 500 702 479 719 462 740 462 782 462 823 462 865 462ZM 357 643C 371 658 371 682 357 697 327 727 297 757 267 787 252 801 228 801 213 787 199 772 199 748 213 733 243 703 273 673 303 643 311 636 320 633 330 633 340 633 349 636 357 643ZM 697 643C 727 673 757 703 787 733 801 748 801 772 787 787 772 801 748 801 733 787 703 757 673 727 643 697 629 682 629 658 643 643 651 636 660 633 670 633 680 633 689 636 697 643ZM 538 740C 538 782 538 823 538 865 538 885 521 902 500 902 479 902 462 885 462 865 462 823 462 782 462 740 462 719 479 703 500 703 521 703 538 719 538 740Z"
              transform="">
        </path>
    </svg>
    *@
</label>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("detectPreference");
            await JSRuntime.InvokeVoidAsync("detectPreferenceChanges");
        }

        // var currentTheme = await GetIsLightTheme();
        // if (currentTheme != isLightTheme)
        // {
        //     isLightTheme = currentTheme;
        //     StateHasChanged();
        // }

        // isLightTheme = await GetIsLightTheme();
    }

    protected async Task OnToggleChanged(ChangeEventArgs eventArgs)
    {
        await JSRuntime.InvokeVoidAsync("themeSwitcherChanged", eventArgs.Value);
    }

    protected async Task<bool> GetIsLightTheme()
    {
        var currentTheme = await JSRuntime.InvokeAsync<string>("getCurrentTheme");

        Console.WriteLine($"Current Theme is {currentTheme}");

        if (currentTheme == "light")
        {
            return true;
        }

        return false;
    }
}
