<Section id="who-am-i">
    <Splash ScrollSpeed="1" BackgroundScrollSpeed="-0.25" TitleScrollSpeed="0.5" HasSideHeader="true" Header="About">
        <Background>
            <svg viewBox="0 0 1920 2048" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path stroke="currentColor" fill="none" d="m-25.70543,5.88239c63.61038,66.17647 333.92908,212.79413 232.67247,377.02207c-101.25661,164.22795 207.42582,207.0956 209.10308,312.0956c1.67726,105 -36.08102,107.94118 -174.83773,240.29413c-138.75672,132.35295 -364.00977,-94.11765 -381.98922,24.70588c-17.97944,118.82353 647.26,48.2353 431.50667,256.4706c-215.75333,208.2353 -1121.26928,187.05883 -436.50096,282.35295c684.76832,95.29412 472.45985,-458.82355 951.9117,-489.41179c479.45185,-30.58824 298.65855,-351.76472 393.55006,-496.47061c94.89151,-144.70589 469.46327,-18.82353 408.53293,174.11765c-60.93034,192.94118 -247.71679,-225.88236 -306.64942,-4.70588c-58.93262,221.17648 335.6163,331.76472 274.68596,500.00002c-60.93034,168.2353 -464.46898,-116.47059 -601.31253,74.11765c-136.84355,190.58824 -1047.06878,681.1765 -1124.97971,492.9412" />
                </g>
            </svg>
            @* <img src="/imgs/Background1.webp" loading="lazy" /> *@
        </Background>
        <Title>
            Who am I?
        </Title>
    </Splash>

    <Container Inline="true">
        <Card Orientation="Orientation.Horizontal" ImagePosition="ImagePosition.Right" Animated="true" Class="no-title" AnimatedImageSpeed="0.5" AnimatedBodySpeed="0.2">
            <CardBody>
                <blockquote>
                    Hi! Having grown up in the Pacific Northwest of the USA, I have naturally become used to a diverse environment with people of varying backgrounds and identities.
                    I attended <abbr title="Lane Community College">LCC</abbr> immediately after high school, staying for three years and earning two AAS degrees, one in each of Computer Programming and Computer Simulation & Game Design.
                    During my time at LCC, I started an internship at Dark Matter Consulting, which then transitioned into regular contract work. For the past several years I have worked on many projects through Dark Matter, focused mainly on Microsoft's .NET stack, as well as some React Native and NodeJS.
                </blockquote>
            </CardBody>
            <CardImage>
                <img src="imgs/IMG_20220924_201712_231.jpg" loading="lazy" />
            </CardImage>
        </Card>
    </Container>

    <Container Inline>
        <ColorSwatch Color="Color.Primary" />
        <ColorSwatch Color="Color.Secondary" />
        <ColorSwatch Color="Color.Accent1" />
        <ColorSwatch Color="Color.Accent2" />
        <ColorSwatch Color="Color.Accent3" />
        <ColorSwatch Color="Color.Success" />
        <ColorSwatch Color="Color.Danger" />
        <ColorSwatch Color="Color.Grey" />
    </Container>
</Section>
