@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main class="main">
        <article>
            <div class="content">
                @Body
            </div>
        </article>
    </main>
</div>
