@inherits LayoutComponentBase

<div class="page">
    <NavMenu>
        <NavItems>
            <NavItem Destination="home" IsLink="true">
                <i class="fi-xnluxl-home" aria-hidden="true"></i>Home
            </NavItem>
            <NavItem Destination="who-am-i" class="push" IsLink="false">
                <i class="fi-cnluxl-anonymous-user-circle" aria-hidden="true"></i>Who am I?
            </NavItem>
            <NavItem Destination="what-have-i-done" IsLink="false">
                <i class="fi-xnluxl-clipboard-list" aria-hidden="true"></i>What have I done?
            </NavItem>
            <NavItem Destination="what-can-i-do" IsLink="false">
                <i class="fi-xnluxl-question-mark-alt" aria-hidden="true"></i>What can I do?
            </NavItem>
            <NavItem Destination="contact-me" class="push" IsLink="true">
                <i class="fi-xnluxl-comment-square" aria-hidden="true"></i>Contact me
            </NavItem>
        </NavItems>
    </NavMenu>

    <main class="main">
        <article>
            @Body
        </article>
    </main>

    <Footer />
</div>
