@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<div class="page">
    <NavMenu>
        <NavItems>
             <NavItem Destination="home" IsLink="true">
                <img src="/css/icons/fi-xnluxl-home.svg" aria-hidden="true" />Home
            </NavItem>
            <NavItem Destination="who-am-i" class="push" IsLink="false">
                <img src="/css/icons/fi-cnluxl-anonymous-user-circle.svg" aria-hidden="true" />Who am I?
            </NavItem>
            <NavItem Destination="what-have-i-done" IsLink="false">
                <img src="/css/icons/fi-xnluxl-clipboard-list.svg" aria-hidden="true" />What have I done?
            </NavItem>
            <NavItem Destination="what-can-i-do" IsLink="false">
                <img src="/css/icons/fi-xnluxl-question-mark-alt.svg" aria-hidden="true" />What can I do?
            </NavItem>
            <NavItem Destination="contact-me" class="push contact-me" IsLink="true">
                <img src="/css/icons/fi-xnluhl-comment-square.svg" aria-hidden="true" />Contact me
            </NavItem>
        </NavItems>
    </NavMenu>

    <main class="main">
        <article>
            @Body
        </article>
    </main>

    <Footer />
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("setUpNavTriggers");
        await JSRuntime.InvokeVoidAsync("setUpSectionTriggers");
        await JSRuntime.InvokeVoidAsync("setUpScrollableTriggers");
    }
}