@inject NavigationManager NavigationManager

<li @attributes="@AdditionalAttributes">
    <a class="nav-link @GetActive(Href, NavLinkMatch.All)" href="@Href">
        @ChildContent
    </a>
</li>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }

    [Parameter]
    public bool IsDefault { get; set; } = false;

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();

        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "active" : "";
}
