
.nav-link {
    --nav-link-color: var(--grey-700);
    --nav-link-icon-filter: invert(100%);
    --nav-link-bg-color: var(--accent-1-500);
    --nav-link-hover-color: var(--grey-900);
    --nav-link-hover-bar-color: var(--primary-900);

    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: fit-content;

    background: none;

    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.1ch;
    text-decoration: none;
    white-space: nowrap;
    color: var(--nav-link-color);
    cursor: pointer;

    transition:
        background-color ease-out 0.15s,
        color ease-out 0.15s;
}

.nav-link ::deep > i {
    font-size: 1.15rem;
    color: var(--grey-900);
}

.nav-link ::deep > img {
    width: 1.5rem;
    aspect-ratio: 1 / 1;

    margin: 0;
    padding: 0;

    filter: var(--nav-link-icon-filter);
}

.nav-link::after {
    position: absolute;
    content: '';
    left: 0.15rem;
    right: 0.15rem;
    bottom: 0.1rem;
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: 1;
    background-color: var(--nav-link-hover-bar-color);

    transform: translateY(100%);
    opacity: 0;

    transition: transform ease-out 0.15s;
}

.nav-link:hover,
.nav-link:focus-visible {
    background-color: var(--nav-link-bg-color);
    color: var(--nav-link-hover-color);
}

.nav-link.active::after,
.nav-link:hover::after,
.nav-link:focus::after {
    transform: translateY(0%);
    opacity: 1;
}

.nav-link.active {
    color: var(--nav-link-hover-color);
}

.contact-me a {
    --nav-link-color: var(--primary-100);
    --nav-link-icon-filter: none;
    --nav-link-bg-color: var(--accent-1-500);
    --nav-link-hover-color: var(--primary-000);
    --nav-link-hover-bar-color: var(--accent-1-500);

    background-image: linear-gradient(45deg, var(--accent-1-700) 00%, var(--accent-3-700) 100%);
    font-size: 1.1rem;
}


/* Mobile */
@media (max-width: 1328px) {

    .nav-link {
        text-align: left;

        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;

        padding-block: 0.75rem;
        padding-left: 0.75rem;
        padding-right: 1rem;
        margin-block: 1rem;

        width: 100%;
    }

    .primary-nav > ul > li.push {
        margin-top: auto;
    }
}

/* Desktop / Tablet */

@media (min-width: 1328px) {
    .nav-link {
        border-radius: 0.25rem;

        height: 100%;
        padding-inline: clamp(1.5rem, 2vw, 4rem);
    }

    .primary-nav > ul > li.push {
        margin-left: auto;
    }

    .contact-me {
        margin-block: calc(var(--nav-list-margin-block) * -1);
    }
}
