<button class="nav-toggle @NavClass" @onclick="ToggleNav">
    <i class="fi-xnsuxl-three-bars-solid"></i>
</button>

<nav id="primary-nav" class="primary-nav @NavClass">
    <ul>
        @NavItems
    </ul>
</nav>

@code {

    private bool showNav = false;

    private string? NavClass => showNav ? "active" : null;

    [Parameter]
    public RenderFragment? NavItems { get; set; }

    private void ToggleNav()
    {
        showNav = !showNav;
    }
}
