.nav-toggle {
    --toggle-size: clamp(1.25rem, 3vw, 2rem);

    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 0;

    width: var(--toggle-size);
    aspect-ratio: 1/1;

    color: var(--grey-900);

    z-index: 999;
    cursor: pointer;
}

.nav-toggle > span {
    font-size: var(--toggle-size);
}

.nav-toggle.active {
    color: var(--grey-900);
}

.primary-nav {
    --nav-color: var(--grey-100);
    font-family: var(--font-header);
    z-index: 100;
}

.primary-nav .nav-link {
    position: relative;
    display: block;

    width: max-content;

    background: none;

    text-align: center;
    font-size: 1.15rem;
    color: var(--grey-700);
    cursor: pointer;

    transition:
        background-color ease-out 0.15s,
        color ease-out 0.15s;
}

.primary-nav .nav-link::before {
    position: absolute;
    content: '';
    inset: 0;

    box-shadow: 0px 0px 1rem 0rem var(--accent-1-500);
    opacity: 0;

    transition: opacity ease-out 0.15s;

}

.primary-nav .nav-link:hover::before,
.primary-nav .nav-link:focus-visible::before {
    opacity: 1;
}

.primary-nav .nav-link::after {
    position: absolute;
    content: '';
    left: 0.15rem;
    right: 0.15rem;
    bottom: 0.1rem;
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: 1;
    background-color: var(--primary-900);

    transform: translateY(100%);
    opacity: 0;

    transition: transform ease-out 0.15s;
}

.primary-nav .nav-link:hover,
.primary-nav .nav-link:focus-visible {
    background-color: var(--accent-1-500);
    color: var(--grey-900);
}

.primary-nav .nav-link.active::after,
.primary-nav .nav-link:hover::after,
.primary-nav .nav-link:focus::after {
    transform: translateY(0%);
    opacity: 1;
}

.primary-nav .nav-link.active {
    color: var(--grey-900);
}

/* Mobile */
@media (max-width: 1280px) {
    .primary-nav {
        position:fixed;

        top: 0;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: column;

        padding: 10rem 1rem 15rem 0rem;

        width: max-content;
        /*width: clamp(8rem, 20vw, 12rem);*/
        background-image: linear-gradient(to right, var(--nav-color), hsl(0 0% 0% / 0));

        transform: translateX(-100%);
        opacity: 0;
        transition: transform ease-in-out 0.25s,
                    opacity ease-in-out 0.25s;

        overflow: auto;
    }

    .primary-nav.active {
        transform: translateX(0%);
        opacity: 1;
    }

    .primary-nav > ul {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }

    .primary-nav .nav-link {
        text-align: left;

        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;

        padding-block: 0.75rem;
        padding-left: 0.75rem;
        padding-right: 1rem;
        margin-block: 1rem;

        width: 100%;
    }

    .primary-nav > ul > li.push {
        margin-top: auto;
    }
}

/* Desktop / Tablet */

@media (min-width: 1281px) {
    .nav-toggle {
        display: none;
    }

    .primary-nav {
        position: fixed;

        top: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: row;
        width: auto;
        height: 4rem;

        padding-top: 0;
        padding-bottom: 0;
        padding-inline: clamp(4rem, 15vw, 15rem);
        background-image: linear-gradient(to bottom, var(--nav-color), hsl(0 0% 0% / 0));
    }

    .primary-nav > ul { 
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;

        margin-inline: auto;
        margin-bottom: auto;
    }

    .primary-nav > ul > li {
        margin-inline: 1rem;
    }

    .primary-nav .nav-link {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;

        height: 100%;
        padding-block: 2rem;
        padding-inline: clamp(2rem, 3vw, 5rem);
    }

    .primary-nav > ul > li.push {
        margin-left: auto;
    }
}