<button class="nav-toggle @NavClass" @onclick="ToggleNav">
    <i class="fi-xnsuxl-three-bars-solid"></i>
</button>

<nav id="primary-nav" class="primary-nav @NavClass">
    <ul>
        <li>
            <a class="nav-link active" href="#"><i class="fi-xnluxl-home" aria-hidden="true"></i>Home</a>
        </li>
        <li class="push">
            <a class="nav-link" href="#"><i class="fi-cnluxl-anonymous-user-circle" aria-hidden="true"></i>Who am I?</a>
        </li>
        <li>
            
            <a class="nav-link" href="#"><i class="fi-xnluxl-clipboard-list" aria-hidden="true"></i>What have I done?</a>
        </li>
        <li>
            <a class="nav-link" href="#"><i class="fi-xnluxl-question-mark-alt" aria-hidden="true"></i>What can I do?</a>
        </li>
        <li class="push">
            <a class="nav-link" href="#"><i class="fi-xnluxl-comment-square" aria-hidden="true"></i>Contact me</a>
        </li>

    </ul>
</nav>

@code {
    private bool showNav = false;

    private string? NavClass => showNav ? "active" : null;

    private void ToggleNav()
    {
        showNav = !showNav;
    }
}
