:root {
  --font-title: "Stack Sans Text", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-header: "Stack Sans Notch", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-body: "Stack Sans Text", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary: hsl(233 22% 23%);
  --secondary: hsl(126 61% 80%);
  --accent-1: hsl(268 17% 66%);
  --accent-2: hsl(176 94% 28%);
  --accent-3: hsl(198 100% 71%);
  --success: hsl(86 93% 24%);
  --danger: hsl(360 82% 45%);
  --primary-000: hsl(from var(--primary) h s calc(l * 0.1));
  --primary-050: hsl(from var(--primary) h s calc(l * 0.2));
  --primary-100: hsl(from var(--primary) h s calc(l * 0.4));
  --primary-300: hsl(from var(--primary) h s calc(l * 0.8));
  --primary-500: hsl(from var(--primary) h s l);
  --primary-600: hsl(from var(--primary) h s calc(l * 1.875));
  --primary-700: hsl(from var(--primary) h s calc(l * 2.75));
  --primary-800: hsl(from var(--primary) h s calc(l * 3.625));
  --primary-900: hsl(from var(--primary) h s calc(l * 4.5));
  --primary-text: light-dark(var(--grey-100), var(--grey-900));
  --secondary-000: hsl(from var(--secondary) h calc(s * 0.4) calc(l * 0.4));
  --secondary-050: hsl(from var(--secondary) h calc(s * 0.5) calc(l * 0.55));
  --secondary-100: hsl(from var(--secondary) h calc(s * 0.6) calc(l * 0.7));
  --secondary-300: hsl(from var(--secondary) h calc(s * 0.7) calc(l * 0.85));
  --secondary-500: hsl(from var(--secondary) h s l);
  --secondary-600: hsl(from var(--secondary) h s calc(l * 1.04));
  --secondary-700: hsl(from var(--secondary) h s calc(l * 1.08));
  --secondary-800: hsl(from var(--secondary) h s calc(l * 1.12));
  --secondary-900: hsl(from var(--secondary) h s calc(l * 1.16));
  --secondary-text: var(--grey-100);
  --accent-1-000: hsl(from var(--accent-1) h s calc(l * 0.2));
  --accent-1-050: hsl(from var(--accent-1) h s calc(l * 0.4));
  --accent-1-100: hsl(from var(--accent-1) h s calc(l * 0.6));
  --accent-1-300: hsl(from var(--accent-1) h s calc(l * 0.8));
  --accent-1-500: hsl(from var(--accent-1) h s l);
  --accent-1-600: hsl(from var(--accent-1) h s calc(l * 1.075));
  --accent-1-700: hsl(from var(--accent-1) h s calc(l * 1.15));
  --accent-1-800: hsl(from var(--accent-1) h s calc(l * 1.225));
  --accent-1-900: hsl(from var(--accent-1) h s calc(l * 1.3));
  --accent-1-text: var(--grey-100);
  --accent-2-000: hsl(from var(--accent-2) h s calc(l * 0.1));
  --accent-2-050: hsl(from var(--accent-2) h s calc(l * 0.2));
  --accent-2-100: hsl(from var(--accent-2) h s calc(l * 0.4));
  --accent-2-300: hsl(from var(--accent-2) h s calc(l * 0.8));
  --accent-2-500: hsl(from var(--accent-2) h s l);
  --accent-2-600: hsl(from var(--accent-2) h calc(s * 0.8) calc(l * 1.35));
  --accent-2-700: hsl(from var(--accent-2) h calc(s * 0.7) calc(l * 1.7));
  --accent-2-800: hsl(from var(--accent-2) h calc(s * 0.6) calc(l * 2.05));
  --accent-2-900: hsl(from var(--accent-2) h calc(s * 0.5) calc(l * 2.4));
  --accent-2-text: var(--grey-100);
  --accent-3-000: hsl(from var(--accent-3) h calc(s * 0.5) calc(l * 0.1));
  --accent-3-050: hsl(from var(--accent-3) h calc(s * 0.6) calc(l * 0.2));
  --accent-3-100: hsl(from var(--accent-3) h calc(s * 0.7) calc(l * 0.4));
  --accent-3-300: hsl(from var(--accent-3) h calc(s * 0.8) calc(l * 0.8));
  --accent-3-500: hsl(from var(--accent-3) h s l);
  --accent-3-600: hsl(from var(--accent-3) h s calc(l * 1.0625));
  --accent-3-700: hsl(from var(--accent-3) h s calc(l * 1.125));
  --accent-3-800: hsl(from var(--accent-3) h s calc(l * 1.1875));
  --accent-3-900: hsl(from var(--accent-3) h s calc(l * 1.25));
  --accent-3-text: var(--grey-100);
  --success-100: hsl(from var(--success) h s calc(l * 0.2));
  --success-300: hsl(from var(--success) h s calc(l * 0.6));
  --success-500: hsl(from var(--success) h s l);
  --success-600: hsl(from var(--success) h calc(s * 1.0) calc(l * 1.2));
  --success-700: hsl(from var(--success) h calc(s * 0.9) calc(l * 1.4));
  --success-800: hsl(from var(--success) h calc(s * 0.85) calc(l * 1.6));
  --success-900: hsl(from var(--success) h calc(s * 0.8) calc(l * 1.8));
  --danger-h: 360;
  --danger-s: 82%;
  --danger-l: 45%;
  --danger-100: hsl(from var(--danger) h s calc(l * 0.2));
  --danger-300: hsl(from var(--danger) h s calc(l * 0.6));
  --danger-500: hsl(from var(--danger) h s l);
  --danger-600: hsl(from var(--danger) h s calc(l * 1.1));
  --danger-700: hsl(from var(--danger) h s calc(l * 1.2));
  --danger-800: hsl(from var(--danger) h s calc(l * 1.3));
  --danger-900: hsl(from var(--danger) h s calc(l * 1.4));
  --grey-100: hsl(233 8% 10%);
  --grey-300: hsl(233 8% 30%);
  --grey-500: hsl(233 8% 50%);
  --grey-600: hsl(233 8% 60%);
  --grey-700: hsl(233 8% 70%);
  --grey-800: hsl(233 8% 80%);
  --grey-900: hsl(233 8% 90%);
  --fs-h-0: clamp(1.5rem, 2vw + 1rem, 3.5rem);
  --fs-h-1: clamp(2rem, 8vw + 1rem, 10rem);
  --fs-h-2: clamp(2rem, 5vw + 1rem, 8rem);
  --fs-h-3: clamp(2rem, 3vw + 1rem, 5rem);
  --fs-h-4: clamp(1.5rem, 2vw + 1rem, 3.5rem);
  --fs-h-5: clamp(1rem, 1vw + 1rem, 2rem);
  --fs-p-1: clamp(0.75rem, 0.3vw + 0.8rem, 1.5rem);
  --fs-p-2: clamp(0.8rem, 0.5vw + 0.75rem, 2rem);
  --fs-p-3: clamp(1rem, 0.9vw + 0.5rem, 2rem);
  --fs-st-1: clamp(0.5rem, 0.25vw + 0.65rem, 1rem);
  --fs-form: clamp(0.7rem, 0.3vw + 0.6rem, 1.25rem);
  --box-shadow-primary: 0.1rem 0.1rem 0.15rem hsl(from var(--grey-100) h s l / 0.35),
                        0.1rem 0.1rem 0.5rem hsl(from var(--grey-100) h s l / 0.15);
  --box-shadow-card: 0.15rem 0.15rem 0.15rem hsl(from var(--grey-100) h s l / 0.25),
                     0.15rem 0.15rem 0.5rem hsl(from var(--grey-100) h s l / 0.15);
  --screen-size-sm: $screen-size-sm;
  --screen-size-md: $screen-size-md;
  --screen-size-lg: $screen-size-lg;
  --container-bg-color: light-dark(var(--primary-900), var(--primary-500));
  --container-border-color: light-dark(var(--primary-900), var(--primary-600));
  --card-bg-color: light-dark(var(--primary-900), var(--primary-500));
  --card-bg-color-sub: light-dark(var(--primary-900), var(--primary-500));
  --card-border-color: light-dark(var(--primary-900), var(--primary-600));
  --card-text-color: var(--primary-text);
  --card-highlight-color: light-dark(var(--accent-1-300), var(--accent-1-700));
  --input-size: clamp(0.75rem, 0.3vw + 1rem, 2rem);
  --input-padding: 0.5rem;
  --input-bg-color: var(--grey-900);
  --input-color: var(--grey-100);
  --input-border-color: var(--accent-1-500);
  --input-border-color-hover: var(--accent-1-700);
  --input-valid-color: var(--success-500);
  --input-valid-color-hover: var(--success-700);
  --input-invalid-color: var(--danger-500);
  --input-invalid-color-hover: var(--danger-700);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: light;
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
    color-scheme: dark;
  }
}

@keyframes background-drift {
  0% {
    background-position: 0rem 0rem;
  }
  100% {
    background-position: -100rem -50rem;
  }
}
@keyframes background-color-shift {
  0% {
    --background-dot-color: var(--accent-1-300);
    /*background-image: radial-gradient(var(--accent-1-300) 4%, transparent 4% );*/
  }
  100% {
    /*background-image: radial-gradient(var(--accent-2-900) 4%, transparent 4% );*/
    --background-dot-color: var(--accent-2-900);
  }
}
#nav-wrapper {
  --nav-bg-color: light-dark(var(--primary-900), var(--primary-500));
  --nav-list-height: 2.75rem;
  --nav-list-margin-block: 0.5rem;
  --nav-height: calc(var(--nav-list-height) + var(--nav-list-margin-block) * 2);
  --nav-collapsed-margin: max(2rem, 10vw);
  --toggle-size: 1.5rem;
  --toggle-padding: 0.5rem;
  --toggle-top-margin: 0.5rem;
  --toggle-expanded-position: var(--nav-height);
  --toggle-drag-position: 0rem;
  --toggle-max-drag-neg: -2rem;
  --toggle-max-drag-pos: 4rem;
}
#nav-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  filter: drop-shadow(0 0 0.25rem var(--grey-100));
}

#toggle-tracker {
  opacity: 0;
  pointer-events: none;
  z-index: 100000;
  position: fixed;
  inset: 0;
  background: red;
}
#toggle-tracker::before {
  --toggle-tracker-size: calc(var(--toggle-size) + (var(--toggle-padding) * 2));
  position: absolute;
  top: 0;
  left: 0;
  width: var(--toggle-tracker-size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 10000;
  margin-top: calc(var(--toggle-tracker-size) * -0.5);
  margin-left: calc(var(--toggle-tracker-size) * -0.5);
  transform-origin: top right;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 250ms;
  transform: translate(var(--toggle-tracker-pos-x, 0px), var(--toggle-tracker-pos-y, 0px));
}
#toggle-tracker.active {
  pointer-events: all;
}
#toggle-tracker.active::before {
  opacity: 1;
  pointer-events: all;
}

#toggle-capsule {
  --toggle-capsule-width: calc(var(--toggle-size) + (var(--toggle-padding) * 2));
  --toggle-capsule-height: calc(2rem + var(--toggle-drag-position));
  --toggle-capsule-leg-width: 4rem;
  --toggle-capsule-leg-expanded-perc: 200%;
  --toggle-capsule-leg-shadow-width: calc(var(--toggle-capsule-leg-width) / 2);
  --toggle-capsule-leg-shadow-height: calc(var(--toggle-capsule-height) / 2);
  position: fixed;
  width: var(--toggle-capsule-width);
  height: var(--toggle-capsule-height);
  background-color: var(--nav-bg-color);
  color: var(--grey-900);
  z-index: 999;
}
#toggle-capsule .toggle-capsule-left {
  position: absolute;
  right: 100%;
  width: var(--toggle-capsule-leg-width);
  height: var(--toggle-capsule-height);
  background-color: transparent;
  overflow: hidden;
  transform-origin: top right;
}
#toggle-capsule .toggle-capsule-left::before {
  content: "";
  position: absolute;
  display: block;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: var(--toggle-capsule-leg-shadow-width) calc(var(--toggle-capsule-leg-shadow-height) * -1) 0 0 var(--nav-bg-color);
}
#toggle-capsule .toggle-capsule-right {
  position: absolute;
  left: 100%;
  width: var(--toggle-capsule-leg-width);
  height: var(--toggle-capsule-height);
  background-color: transparent;
  overflow: hidden;
  transform-origin: top left;
}
#toggle-capsule .toggle-capsule-right::before {
  content: "";
  position: absolute;
  display: block;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  top: 0;
  left: 0;
  box-shadow: calc(var(--toggle-capsule-leg-shadow-width) * -1) calc(var(--toggle-capsule-leg-shadow-height) * -1) 0 0 var(--nav-bg-color);
}
#toggle-capsule .nav-toggle {
  --nav-toggle-gradient-color-1: light-dark(var(--secondary-500), var(--secondary-500));
  --nav-toggle-gradient-color-2: light-dark(var(--accent-2-500), var(--accent-2-100));
  position: absolute;
  padding: var(--toggle-padding);
  display: grid;
  place-items: center;
  width: fit-content;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 50%;
  background-image: linear-gradient(45deg, var(--nav-toggle-gradient-color-1) 0%, var(--nav-toggle-gradient-color-2) 100%);
}
#toggle-capsule .nav-toggle * {
  font-size: var(--toggle-size);
  width: var(--toggle-size);
  aspect-ratio: 1/1;
  filter: invert(100%);
  pointer-events: none;
}
#toggle-capsule .nav-toggle.active {
  color: var(--primary-text);
}

.primary-nav {
  font-family: var(--font-header);
  z-index: 100;
  position: fixed;
  overflow: hidden visible;
  --nav-bottom-margin: 3rem;
  --nav-items-gap: clamp(0.5rem, 0.75vw + 0.25rem, 1.5rem);
  background-color: var(--nav-bg-color);
}
.primary-nav .nav-logo {
  --nav-logo-color-1: light-dark(var(--secondary-000), var(--secondary-300));
  --nav-logo-color-2: light-dark(var(--secondary-500), var(--secondary-700));
  position: relative;
  display: grid;
  place-items: center;
  width: fit-content;
  aspect-ratio: 1/1;
  margin-right: auto;
  font-size: 2rem;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  font-weight: bold;
  padding: 0.15rem;
  background: linear-gradient(60deg, var(--nav-logo-color-1) 20%, var(--nav-logo-color-2) 100%);
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(60deg, var(--nav-logo-color-1) 20%, var(--nav-logo-color-2) 100%);
  border-image-slice: 2;
  border-width: 1px;
  border-style: solid;
  border-left-style: none;
  border-top-style: none;
  box-shadow: -0.25rem -0.25rem 0.5rem -0.35rem hsl(from var(--nav-logo-color-1) h s l/0.5) inset;
}
.primary-nav .nav-logo:focus-visible {
  outline: none;
}
.primary-nav .nav-logo::before {
  position: absolute;
  content: "";
  height: 75%;
  width: 50%;
  left: 50%;
  top: 25%;
  background: linear-gradient(60deg, var(--nav-logo-color-1) 20%, var(--nav-logo-color-2) 100%);
  z-index: -1;
  filter: blur(1rem);
}
.primary-nav .nav-logo::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--nav-bg-color);
  z-index: -1;
}
.primary-nav .nav-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}
.primary-nav .nav-list .section-indicator {
  position: absolute;
  height: 0.25rem;
  border-radius: 0.5rem;
  background: var(--secondary-500);
  left: 0;
  bottom: 0;
}

/* Mobile */
@media (width <= 1400px) {
  .primary-nav {
    position: fixed;
    top: 0 !important;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    padding-bottom: min(15rem, 10vh);
    width: max-content;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.25s;
    overflow: auto;
  }
  .primary-nav.active {
    transform: translateX(0%);
    opacity: 1;
  }
  .primary-nav .nav-list {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-right: auto;
    padding-right: 2rem;
  }
  .primary-nav .nav-logo {
    font-size: 5rem;
    padding: 0.5rem;
    margin-inline: auto;
    margin-block: min(8rem, 8vh);
    box-sizing: border-box;
  }
  #toggle-capsule {
    width: auto;
    height: auto;
    background: none;
  }
  #toggle-capsule .toggle-capsule-left, #toggle-capsule .toggle-capsule-right {
    display: none;
  }
  #toggle-capsule .nav-toggle {
    top: var(--toggle-top-margin);
    left: var(--toggle-top-margin);
  }
}
/* Desktop / Tablet */
@media (width > 1400px) {
  .primary-nav {
    position: fixed;
    top: calc(100vh - var(--nav-height) + 1px);
    left: 0;
    right: 0;
    z-index: 1000;
    margin-inline: var(--nav-collapsed-margin);
    padding-inline: 0rem;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    width: auto;
    transform: translateY(-100%);
    transition: transform ease-in-out 0.25s;
    animation: nav-shrink;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  .primary-nav.locked, .primary-nav.active {
    animation: nav-stretch;
    animation-duration: 500ms;
    animation-delay: 250ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  .primary-nav.active {
    transform: translateY(0%);
  }
  .primary-nav .nav-logo {
    margin-block: auto;
    margin-inline: 1rem;
  }
  .primary-nav .nav-list {
    flex-direction: row;
    gap: var(--nav-items-gap);
    height: var(--nav-list-height);
    width: min-content;
    margin-block: var(--nav-list-margin-block);
    margin-inline: auto;
  }
  #toggle-capsule {
    left: 50%;
    translateX: -50%;
  }
  #toggle-capsule.locked {
    animation: none;
    transform: translate(-50%, -200%);
  }
  #toggle-capsule:not(.locked) {
    animation: nav-toggle-bounce-out;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  #toggle-capsule:not(.locked).active {
    transform: translate(-50%, 0rem);
    animation: nav-toggle-bounce-in;
    animation-duration: 1s;
    animation-delay: 250ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  #toggle-capsule:not(.locked).active .toggle-capsule-left, #toggle-capsule:not(.locked).active .toggle-capsule-right {
    animation: nav-toggle-stretch;
    animation-duration: 1s;
    animation-delay: 250ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  #toggle-capsule .toggle-capsule-left,
  #toggle-capsule .toggle-capsule-right {
    animation: nav-toggle-shrink;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  #toggle-capsule .nav-toggle {
    /*top: var(--toggle-top-margin);*/
    bottom: calc((var(--toggle-size) - var(--toggle-padding)) * -1);
    left: 50%;
    transform: translateX(-50%);
  }
}
