.swatch-row {
    display: flex;
    flex-direction: row;

    flex-grow: 1;

    height: 300px;

    > div {
        height: 100%;

        flex-grow: 1;

        display: grid;
        place-items: center;
    }
}