@import '../wwwroot/css/variables.scss';

#theme-switcher {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    //display: none;
}

label.theme-switcher-label {
    cursor: pointer;
    width: calc(var(--toggle-size) + (var(--toggle-padding) * 2));
    max-height: 100%;
    aspect-ratio: 1 / 1;
    background: light-dark(var(--secondary-300), var(--secondary));

    display: grid;
    place-items: center;

    border-radius: 100vw;
    position: absolute;
    top: var(--toggle-top-margin);
    right: var(--toggle-top-margin);
    overflow: hidden;

    @media (width > $screen-size-lg) {
        position: relative;
        inset: auto;
        //right: var(--nav-collapsed-margin);
    }

    .theme-icon {
        //position: absolute;
        //inset: 0;
        //margin: 8px;
        //max-width: 100%;
        //max-height: 100%;
        position: relative;
        display: block;
        width: var(--toggle-size);
        height: var(--toggle-size);
        max-width: 100%;
        max-height: 100%;
        //padding: 8px;

    }

    #light-theme-icon {
        position: relative;
        display: block;
        max-width: 100%;
        //padding: 8px;
        //margin: 8px;
    }

    #dark-theme-icon {
        visibility: hidden;
    }

    //.light-theme-icon {
    //    display: none;
    //}

    //.dark-theme-icon {
    //    display: initial;
    //}
}
