<Section id="home">
    <Splash ScrollSpeed="1" BackgroundScrollSpeed="-0.5" TitleScrollSpeed="0.25">
        <Background>
            <img src="/imgs/Background7.png" loading="lazy" />
        </Background>
        <Title>
            <div class="splash-block">
                <img src="/imgs/Background6.png" class="splash-block-img" loading="lazy" />
                <h1 class="splash-block-title"><span class="splash-accent-1">C</span>aleb <span class="splash-accent-2">F</span>rasier</h1>
                <div class="splash-block-subtitle">
                    <p>Software Engineer</p>
                    <p>Game Enthusiast</p>
                    <p>Weirdo</p>
                </div>
            </div>
        </Title>
    </Splash>
</Section>
