@page "/"

@using Portfolio_Site.Components

<PageTitle>Index</PageTitle>

<Checkbox>This is a checkbox</Checkbox>

<button class="btn primary">Hello world!</button>
<button class="btn accent-1">Hello world!</button>
<button class="btn accent-2">Hello world!</button>
<button class="btn accent-3">Hello world!</button>
<button class="btn success">Hello world!</button>

