@page "/"
@page "/home"

@using Portfolio_Site.Components

<PageTitle>Index</PageTitle>

<Splash ScrollSpeed="1" BackgroundScrollSpeed="0.5" TitleScrollSpeed="-0.25" id="home">
    <Background>
        <img src="/css/img/ocean-waves.jpg" class="filter-blur-2" />
    </Background>
    <Title>
        <div class="splash-block">
            <div class="splash-block-img"></div>
            <h1 class="splash-block-title">Caleb Frasier</h1>
            <div class="splash-block-subtitle">
                <p>Software Engineer</p>
                <p>Game Enthusiast</p>
                <p>Weirdo</p>
            </div>
        </div>
    </Title>
</Splash>

<Splash ScrollSpeed="1" BackgroundScrollSpeed="0.25" TitleScrollSpeed="-0.5" id="who-am-i">
    <Background>
        @*<img src="/css/img/paper-crease.jpg" />*@
        <img src="/css/img/clouds-sunset.jpg" class="filter-blur-1" />
    </Background>
    <Title>
        <h1>Who am I?</h1>
    </Title>
</Splash>


<div class="container-full m-block-0">
    <blockquote>
        Hi! Having grown up in the Pacific Northwest of the USA, I have naturally become used to a diverse environment with people of varying backgrounds and identities.
        I attended <abbr title="Lane Community College">LCC</abbr> immediately after high school, staying for three years and earning two AAS degrees, one in each of Computer Programming and Computer Simulation & Game Design.
        During my time at LCC, I started an internship at Dark Matter Consulting, which then transitioned into regular contract work. For the past several years I have worked on many projects through Dark Matter, focused mainly on Microsoft's .NET stack, as well as some React Native and NodeJS.
    </blockquote>
</div>

<Splash ScrollSpeed="1" BackgroundScrollSpeed="0.25" TitleScrollSpeed="-0.5" id="what-have-i-done">
    <Background>
        <img src="/css/img/feathers-blur.jpg" class="filter-blur-1" />
    </Background>
    <Title>
        <h1>What have I done?</h1>
    </Title>
</Splash>

<div class="container-full m-block-0">
</div>

<Splash ScrollSpeed="1" BackgroundScrollSpeed="0.25" TitleScrollSpeed="-0.5" id="what-can-i-do">
    <Background>
        <img src="/css/img/painted-canvas.jpg" class="filter-blur-2" />
    </Background>
    <Title>
        <h1>What can I do?</h1>
    </Title>
</Splash>

<div class="container-full m-block-0">
    <blockquote>
        With half a decade of professional experience and an unending passion for learning, anything I can't do, I'm eager to learn.
    </blockquote>
</div>

<SectionHeader Title="Solutions" ContainerClass="bg-accent-1-7" TextClass="text-accent-1-1" />

    <Tabs TabStyle="TabStyle.Card" Class="container">
        <Tab Title="Front-End" Hoverable>
            Responsive and accessible web design with custom, professional controls. Clear UX and security for business-to-business, stylish and unforgettable for business-to-customer.
            <div class="flex row wrap">
                <img src="/css/icons/html-5.svg" class="icon" />
                <img src="/css/icons/css-3.svg" class="icon" />
                <img src="/css/icons/less.svg" class="icon" />
                <img src="/css/icons/sass.svg" class="icon" />
                <img src="/css/icons/bootstrap.svg" class="icon" />
                <img src="/css/icons/javascript.svg" class="icon" />
                <img src="/css/icons/jquery-icon.svg" class="icon" />
                <img src="/css/icons/express.svg" class="icon" />
                <img src="/css/icons/react.svg" class="icon" />
                <img src="/css/icons/xamarin.svg" class="icon" />
                <img src="/css/icons/android-icon.svg" class="icon" />
            </div>
        </Tab>
        <Tab Title="Back-End" Hoverable>
            Relational databases built with scalability in mind, using anything from SQL Server to MongoDB. Secure password hashing, encryption of sensitive data, and protection from common attacks like SQL injection.
            <div class="flex row wrap">
                <img src="/css/icons/c-sharp.svg" class="icon" />
                <img src="/css/icons/dotnet.svg" class="icon" />
                <img src="/css/icons/nodejs-icon.svg" class="icon" />
                <img src="/css/icons/azure.svg" class="icon" />
                <img src="/css/icons/swagger.svg" class="icon" />
                <img src="/css/icons/gatsby.svg" class="icon" />
                <img src="/css/icons/graphql.svg" class="icon" />
                <img src="/css/icons/mongodb.svg" class="icon" />
                <img src="/css/icons/mysql.svg" class="icon" />
                <img src="/css/icons/oracle.svg" class="icon" />
            </div>
        </Tab>
        <Tab Title=".NET" Hoverable>
            Cross-platform solutions for both front-end and back-end with MVC or Blazor.
        </Tab>
        <Tab Title="Web Design" Hoverable>
            Responsive and accessible web design with custom, professional controls. Clear UX and security for business-to-business, stylish and unforgettable for business-to-customer.
        </Tab>
        <Tab Title="Database Design" Hoverable>
            Relational databases built with scalability in mind, using anything from SQL Server to MongoDB. Secure password hashing, encryption of sensitive data, and protection from common attacks like SQL injection.
        </Tab>
    </Tabs>

<div class="container flex row wrap">
    <Card Size="Size.Small" Class="aspect-ratio-1-2 effect-hover-1 effect-ease-in-out collapseable">
        <CardImage>
            <img src="/css/img/dotnet-logo.png" />
        </CardImage>
        <CardTitle>
            <h5>.NET</h5>
        </CardTitle>
        <CardBody>
            Cross-platform solutions for both front-end and back-end with MVC or Blazor.
        </CardBody>
    </Card>

    <Card Size="Size.Small" Class="aspect-ratio-1-2 effect-hover-1 effect-ease-in-out collapseable">
        <CardImage>
            <img src="/css/img/Responsive_Website_Design.jpg" />
        </CardImage>
        <CardTitle>
            <h5>Web Design</h5>
        </CardTitle>
        <CardBody>
            Responsive and accessible web design with custom, professional controls. Clear UX and security for business-to-business, stylish and unforgettable for business-to-customer.
        </CardBody>
    </Card>


    <Card Size="Size.Small" Class="aspect-ratio-1-2 effect-hover-1 effect-ease-in-out collapseable">
        <CardImage>
            <img src="/css/img/server-racks.jpg" />
        </CardImage>
        <CardTitle>
            <h5>Database Design</h5>
        </CardTitle>
        <CardBody>
            Relational databases built with scalability in mind, using anything from SQL Server to MongoDB. Secure password hashing, encryption of sensitive data, and protection from common attacks like SQL injection.
        </CardBody>
    </Card>
</div>

<SectionHeader Title="Examples" ContainerClass="bg-accent-2-7" TextClass="text-accent-2-1" />

<div class="container">
    <div class="flex row wrap">
        <Card>
            <CardImage>
                <img src="https://loremflickr.com/1280/720" />
            </CardImage>
            <CardTitle>
                <h5>Regular buttons</h5>
            </CardTitle>
            <CardBody>
                <p>
                    The default appearance of buttons.
                </p>
                <div class="flex row wrap">
                    <button class="btn primary">Primary</button>
                    <button class="btn accent-1">Accent 1</button>
                    <button class="btn accent-2">Accent 2</button>
                    <button class="btn accent-3">Accent 3</button>
                    <button class="btn success">Success</button>
                    <button class="btn danger">Danger</button>
                </div>
            </CardBody>
        </Card>

        <Card>
            <CardImage>
                <img src="https://loremflickr.com/1280/1280" />
            </CardImage>
            <CardTitle>
                Outline buttons
            </CardTitle>
            <CardBody>
                <p>
                    The outline variant of buttons. Also, title above the card.
                </p>
                <div class="flex row wrap">
                    <button class="btn primary outline">Primary</button>
                    <button class="btn accent-1 outline">Accent 1</button>
                    <button class="btn accent-2 outline">Accent 2</button>
                    <button class="btn accent-3 outline">Accent 3</button>
                    <button class="btn success outline">Success</button>
                    <button class="btn danger outline">Danger</button>
                </div>
            </CardBody>
        </Card>
    </div>

    <div class="flex row wrap">
        <Card Orientation="Orientation.Horizontal">
            <CardImage>
                <img src="https://loremflickr.com/1000/1600" />
            </CardImage>
            <CardTitle>
                Sized buttons
            </CardTitle>
            <CardBody>
                <p>
                    Small and large buttons! And no image, title on the bottom.
                </p>
                <div class="flex row wrap">
                    <button class="btn primary large">Primary</button>
                    <button class="btn accent-1 large">Accent 1</button>
                    <button class="btn accent-2 large">Accent 2</button>
                    <button class="btn accent-3 large">Accent 3</button>
                    <button class="btn success large">Success</button>
                    <button class="btn danger large">Danger</button>
                </div>
                <div class="flex row wrap">
                    <button class="btn primary small">Primary</button>
                    <button class="btn accent-1 small">Accent 1</button>
                    <button class="btn accent-2 small">Accent 2</button>
                    <button class="btn accent-3 small">Accent 3</button>
                    <button class="btn success small">Success</button>
                    <button class="btn danger small">Danger</button>
                </div>
            </CardBody>
        </Card>
    </div>
</div>

