@page "/"

@using Portfolio_Site.Components

<PageTitle>Index</PageTitle>

<Splash ScrollSpeed="1" BackgroundScrollSpeed="0.5" TitleScrollSpeed="-0.25" id="home">
    <Background>
        <img src="/css/img/ocean-waves.jpg" class="filter-blur-2" />
    </Background>
    <Title>
        <div class="splash-block">
            <div class="splash-block-img"></div>
            <h1 class="splash-block-title">Caleb Frasier</h1>
            <div class="splash-block-subtitle">
                <p>Web Developer</p>
                <p>Gamer</p>
                <p>Weirdo</p>
            </div>
        </div>
    </Title>
</Splash>

<Splash ScrollSpeed="1" BackgroundScrollSpeed="0.25" TitleScrollSpeed="-0.5" id="who-am-i">
    <Background>
        @*<img src="/css/img/paper-crease.jpg" />*@
        <img src="/css/img/clouds-sunset.jpg" class="filter-blur-1" />
    </Background>
    <Title>
        <h1>Who am I?</h1>
    </Title>
</Splash>


<div class="container-full m-block-0">
</div>

<span id="what_have_i_done" style="display: none;"></span>

<Splash ScrollSpeed="1" BackgroundScrollSpeed="0.25" TitleScrollSpeed="-0.5">
    <Background>
        <img src="/css/img/feathers-blur.jpg" class="filter-blur-1" />
    </Background>
    <Title>
        <h1>What have I done?</h1>
    </Title>
</Splash>

<Splash ScrollSpeed="1" BackgroundScrollSpeed="0.25" TitleScrollSpeed="-0.5" id="what-can-i-do">
    <Background>
        <img src="/css/img/painted-canvas.jpg" class="filter-blur-2" />
    </Background>
    <Title>
        <h1>What can I do?</h1>
    </Title>
</Splash>

<div class="flex row section-title bg-accent-1-7">
    <h2 class="text-accent-1-1">Solutions</h2>
</div>

<div class="container flex row wrap">
    <div class="card sm effect-hover-1 effect-ease-in-out">
        <div class="card-image">
            <img src="/css/img/dotnet-logo.png" />
        </div>
        <div class="card-title">
            <h5>.NET</h5>
        </div>
        <div class="card-body">
            Cross-platform solutions for both front-end and back-end with MVC or Blazor.
        </div>
    </div>

    <div class="card sm effect-hover-1 effect-ease-in-out">
        <div class="card-image">
            <img src="/css/img/Responsive_Website_Design.jpg" />
        </div>
        <div class="card-title">
            <h5>Web Design</h5>
        </div>
        <div class="card-body">
            Responsive and accessible web design with custom, professional controls. Clear UX and security for business-to-business, stylish and unforgettable for business-to-customer.
        </div>
    </div>

    <div class="card sm effect-hover-1 effect-ease-in-out">
        <div class="card-image">
            <img src="/css/img/server-racks.jpg" />
        </div>
        <div class="card-title">
            <h5>Database Design</h5>
        </div>
        <div class="card-body">
            Relational databases built with scalability in mind, using anything from SQL Server to MongoDB. Secure password hashing, encryption of sensitive data, and protection from common attacks like SQL injection.
        </div>
    </div>



</div>

<div class="flex row section-title bg-accent-2-7">
    <h2 class="text-accent-2-1">Examples</h2>
</div>

<div class="container">
    <div class="flex row wrap">
        <div class="card">
            <div class="card-image">
                <img src="https://loremflickr.com/1280/720" />
            </div>

            <div class="card-title"><h5>Regular buttons</h5></div>

            <div class="card-body">
                <p>
                    The default appearance of buttons.
                </p>
                <div class="flex row wrap">
                    <button class="btn primary">Primary</button>
                    <button class="btn accent-1">Accent 1</button>
                    <button class="btn accent-2">Accent 2</button>
                    <button class="btn accent-3">Accent 3</button>
                    <button class="btn success">Success</button>
                    <button class="btn danger">Danger</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-title">Outline buttons</div>

            <div class="card-image">
                <img src="https://loremflickr.com/1280/1280" />
            </div>

            <div class="card-body">
                <p>
                    The outline variant of buttons. Also, title above the card.
                </p>
                <div class="flex row wrap">
                    <button class="btn primary outline">Primary</button>
                    <button class="btn accent-1 outline">Accent 1</button>
                    <button class="btn accent-2 outline">Accent 2</button>
                    <button class="btn accent-3 outline">Accent 3</button>
                    <button class="btn success outline">Success</button>
                    <button class="btn danger outline">Danger</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-title">Sized buttons</div>
            <div class="card-body">
                <p>
                    Small and large buttons! And no image, title on the bottom.
                </p>
                <div class="flex row wrap">
                    <button class="btn primary large">Primary</button>
                    <button class="btn accent-1 large">Accent 1</button>
                    <button class="btn accent-2 large">Accent 2</button>
                    <button class="btn accent-3 large">Accent 3</button>
                    <button class="btn success large">Success</button>
                    <button class="btn danger large">Danger</button>
                </div>
                <div class="flex row wrap">
                    <button class="btn primary small">Primary</button>
                    <button class="btn accent-1 small">Accent 1</button>
                    <button class="btn accent-2 small">Accent 2</button>
                    <button class="btn accent-3 small">Accent 3</button>
                    <button class="btn success small">Success</button>
                    <button class="btn danger small">Danger</button>
                </div>
            </div>

            <div class="card-image">
                <img src="https://loremflickr.com/1000/1280" />
            </div>
        </div>
    </div>

    <div class="flex row wrap">
        <div class="card horizontal">
            <div class="card-body">
                <p>
                    Small and large buttons! And no image, title on the bottom.
                </p>
                <div class="flex row wrap">
                    <button class="btn primary large">Primary</button>
                    <button class="btn accent-1 large">Accent 1</button>
                    <button class="btn accent-2 large">Accent 2</button>
                    <button class="btn accent-3 large">Accent 3</button>
                    <button class="btn success large">Success</button>
                    <button class="btn danger large">Danger</button>
                </div>
                <div class="flex row wrap">
                    <button class="btn primary small">Primary</button>
                    <button class="btn accent-1 small">Accent 1</button>
                    <button class="btn accent-2 small">Accent 2</button>
                    <button class="btn accent-3 small">Accent 3</button>
                    <button class="btn success small">Success</button>
                    <button class="btn danger small">Danger</button>
                </div>
            </div>

            <div class="card-title">Sized buttons</div>

            <div class="card-image">
                <img src="https://loremflickr.com/1000/1280" />
            </div>
        </div>

        <div class="card horizontal">
            <div class="card-title">Sized buttons</div>

            <div class="card-body">
                <p>
                    Small and large buttons! And no image, title on the bottom.
                </p>
                <div class="flex row wrap">
                    <button class="btn primary large">Primary</button>
                    <button class="btn accent-1 large">Accent 1</button>
                    <button class="btn accent-2 large">Accent 2</button>
                    <button class="btn accent-3 large">Accent 3</button>
                    <button class="btn success large">Success</button>
                    <button class="btn danger large">Danger</button>
                </div>
                <div class="flex row wrap">
                    <button class="btn primary small">Primary</button>
                    <button class="btn accent-1 small">Accent 1</button>
                    <button class="btn accent-2 small">Accent 2</button>
                    <button class="btn accent-3 small">Accent 3</button>
                    <button class="btn success small">Success</button>
                    <button class="btn danger small">Danger</button>
                </div>
            </div>

            <div class="card-image">
                <img src="https://loremflickr.com/256/256" />
            </div>
        </div>
    </div>
</div>

