@page "/"

@using Portfolio_Site.Components

<PageTitle>Index</PageTitle>

<div class="flex row wrap">

    <div class="card" style="max-width: 20vw;">
        <div class="card-image">
            <img src="https://loremflickr.com/1280/720" />
        </div>

        <div class="card-title">Regular buttons</div>

        <div class="card-body">
            <p>
                The default appearance of buttons.
            </p>
            <div class="flex row wrap">
                <button class="btn primary">Primary</button>
                <button class="btn accent-1">Accent 1</button>
                <button class="btn accent-2">Accent 2</button>
                <button class="btn accent-3">Accent 3</button>
                <button class="btn success">Success</button>
                <button class="btn danger">Danger</button>
            </div>
        </div>
    </div>

    <div class="card" style="max-width: 20vw;">
        <div class="card-title">Outline buttons</div>

        <div class="card-image">
            <img src="https://loremflickr.com/1280/1280" />
        </div>

        <div class="card-body">
            <p>
                The outline variant of buttons. Also, title above the card.
            </p>
            <div class="flex row wrap">
                <button class="btn primary outline">Primary</button>
                <button class="btn accent-1 outline">Accent 1</button>
                <button class="btn accent-2 outline">Accent 2</button>
                <button class="btn accent-3 outline">Accent 3</button>
                <button class="btn success outline">Success</button>
                <button class="btn danger outline">Danger</button>
            </div>
        </div>
    </div>

</div>
