@page "/"

@using Portfolio_Site.Components

<PageTitle>Index</PageTitle>

<Checkbox>This is a checkbox</Checkbox>


<div class="flex row wrap">
    <button class="btn primary">Hello world!</button>
    <button class="btn accent-1">Hello world!</button>
    <button class="btn accent-2">Hello world!</button>
    <button class="btn accent-3">Hello world!</button>
    <button class="btn success">Hello world!</button>
    <button class="btn danger">Hello world!</button>
</div>

<div class="flex row wrap">
    <button class="btn primary outline">Hello world!</button>
    <button class="btn accent-1 outline">Hello world!</button>
    <button class="btn accent-2 outline">Hello world!</button>
    <button class="btn accent-3 outline">Hello world!</button>
    <button class="btn success outline">Hello world!</button>
    <button class="btn danger outline">Hello world!</button>
</div>

