
<Section id="what-have-i-done">
    <Splash ScrollSpeed="1" BackgroundScrollSpeed="-0.25" TitleScrollSpeed="0.5">
        <Background>
            <img src="/css/img/feathers-blur.jpg" class="filter-blur-1" />
        </Background>
        <Title>
            What have I done?
        </Title>
    </Splash>

    <Container Inline="true" Class="tile-grid">
        <Tile BackgroundColor="var(--accent-3-100);">
            <TileImage>
                <img src="/css/img/dotnet-logo.png" />
            </TileImage>
            <TileHeader>
                This Website
            </TileHeader>
            <TileBody>
                This entire website was built from scratch using Blazor WASM, C#, HTML, CSS, and vanilla JavaScript.
            </TileBody>
        </Tile>
        <Tile BackgroundColor="var(--accent-3-100);">
            <TileImage>
                <img src="/css/img/blueprints-curve.jpg" />
            </TileImage>
            <TileHeader>
                Project 2
            </TileHeader>
            <TileBody>
                Relational databases built with scalability in mind, using anything from SQL Server to MongoDB. Secure password hashing, encryption of sensitive data, and protection from common attacks like SQL injection.
            </TileBody>
        </Tile>
        <Tile BackgroundColor="var(--accent-3-100);">
            <TileImage>
                <img src="/css/img/concrete-tree-shadow.jpg" />
            </TileImage>
            <TileHeader>
                Project 3
            </TileHeader>
            <TileBody>
                Relational databases built with scalability in mind, using anything from SQL Server to MongoDB. Secure password hashing, encryption of sensitive data, and protection from common attacks like SQL injection.
            </TileBody>
        </Tile>
        <Tile BackgroundColor="var(--accent-2-100);">
            <TileImage>
                <img src="/css/img/Responsive_Website_Design.jpg" />
            </TileImage>
            <TileHeader>
                Web Design
            </TileHeader>
            <TileBody>
                Responsive and accessible web design with custom, professional controls. Clear UX and security for business-to-business, stylish and unforgettable for business-to-customer.
            </TileBody>
        </Tile>
        <Tile BackgroundColor="var(--accent-1-100);">
            <TileImage>
                <img src="/css/img/server-racks.jpg" />
            </TileImage>
            <TileHeader>
                Database Design
            </TileHeader>
            <TileBody>
                Relational databases built with scalability in mind, using anything from SQL Server to MongoDB. Secure password hashing, encryption of sensitive data, and protection from common attacks like SQL injection.
            </TileBody>
        </Tile>
    </Container>
</Section>