
<Section id="what-have-i-done">
    <Splash ScrollSpeed="1" BackgroundScrollSpeed="-0.5" TitleScrollSpeed="0.5" BackgroundScrollOffset="-0.5">
        <Background>
            <img src="/imgs/Background2.webp" loading="lazy" />
        </Background>
        <Title>
            What have I done?
        </Title>
    </Splash>

    <Container Inline="true" Class="tile-grid">
        <Tile BackgroundColor="var(--accent-3-100);">
            <TileImage>
                <img src="/css/img/dotnet-logo.png" loading="lazy" />
            </TileImage>
            <TileHeader>
                This Website
            </TileHeader>
            <TileBody>
                This entire website was built from scratch using Blazor WASM, C#, HTML, CSS, and vanilla JavaScript, with assistance from the GSAP animation library.
            </TileBody>
        </Tile>
        <Tile BackgroundColor="var(--accent-3-100);">
            <TileImage>
                <img src="/css/img/blueprints-curve.jpg" loading="lazy" />
            </TileImage>
            <TileHeader>
                GateBot
            </TileHeader>
            <TileBody>
                A ticket scanner Android app running natively on [SCANNER BRAND NAME]. Built with Xamarin Forms and used by the University of Oregon!
            </TileBody>
        </Tile>
        <Tile BackgroundColor="var(--accent-3-100);">
            <TileImage>
                <img src="/css/img/concrete-tree-shadow.jpg" loading="lazy" />
            </TileImage>
            <TileHeader>
                Make-A-Band
            </TileHeader>
            <TileBody>
                Built with React Native, this mobile app allowed attendees of the [EVENT YEAR] Make-A-Band in Eugene, OR to find information on the musicians as well as vote on awards for a range of categories.
            </TileBody>
        </Tile>
        <Tile BackgroundColor="var(--accent-2-100);">
            <TileImage>
                <img src="/css/img/Responsive_Website_Design.jpg" loading="lazy" />
            </TileImage>
            <TileHeader>
                SimpleScreener
            </TileHeader>
            <TileBody>
                [SIMPLESCREENER INFO]
            </TileBody>
        </Tile>
        <Tile BackgroundColor="var(--accent-1-100);">
            <TileImage>
                <img src="/css/img/server-racks.jpg" loading="lazy" />
            </TileImage>
            <TileHeader>
                MindfulYou
            </TileHeader>
            <TileBody>
                [MINDFULYOU INFO]
            </TileBody>
        </Tile>
        <Tile BackgroundColor="var(--accent-1-100);">
            <TileImage>
                <img src="/css/img/server-racks.jpg" loading="lazy" />
            </TileImage>
            <TileHeader>
                Project 6
            </TileHeader>
            <TileBody>
                [PROJECT 6 INFO]
            </TileBody>
        </Tile>
    </Container>
</Section>