<Section id="who-am-i">
    <Splash ScrollSpeed="1" BackgroundScrollSpeed="-0.25" TitleScrollSpeed="0.5">
        <Background>
            <img src="/css/img/clouds-sunset.jpg" class="filter-blur-1" loading="lazy" />
        </Background>
        <Title>
            Who am I?
        </Title>
    </Splash>

    <Container Inline="true">
        <Card Orientation="Orientation.Horizontal" ImagePosition="ImagePosition.Right" Animated="true" Class="no-title" AnimatedImageSpeed="0.5" AnimatedBodySpeed="0.2">
            <CardBody>
                <blockquote>
                    Hi! Having grown up in the Pacific Northwest of the USA, I have naturally become used to a diverse environment with people of varying backgrounds and identities.
                    I attended <abbr title="Lane Community College">LCC</abbr> immediately after high school, staying for three years and earning two AAS degrees, one in each of Computer Programming and Computer Simulation & Game Design.
                    During my time at LCC, I started an internship at Dark Matter Consulting, which then transitioned into regular contract work. For the past several years I have worked on many projects through Dark Matter, focused mainly on Microsoft's .NET stack, as well as some React Native and NodeJS.
                </blockquote>
            </CardBody>
            <CardImage>
                <img src="imgs/IMG_20220924_201712_231.jpg" loading="lazy" />
            </CardImage>
        </Card>
    </Container>
</Section>
