.section-header {
    position: relative;
    width: 100%;
    padding-inline: min(20rem, 12vw);
    overflow: hidden;
    letter-spacing: -0.05em;
}

.section-header-text {
    position: relative;
    z-index: 0;
}

.section-header-text::after {
    position: absolute;
    content: attr(data-text);
    z-index: -1;
    font-size: calc(var(--fs-h-1) * 3);

    color: hsl(from currentcolor h s l / 0.2);

    left: -25%;
    top: -200%;
}