.cursor {
    position: fixed;
    width: 1.5rem;
    aspect-ratio: 1 / 1;

    background: transparent;
    top: 0;
    left: 0;
    translate: -50%;
    border-radius: 50%;
    border: solid 2px var(--grey-900);

    pointer-events: none;

    //filter: blur(2vmin);
    //mix-blend-mode: difference;
    mix-blend-mode: difference;

    z-index: 100000;

    &.cursor-dot {
        background: var(--grey-900);
        border: none;
        width: 4px;
    }
}

